<h2 class="panel-title">{{"funds.deposit_<%= code %>.title" | t}}</h2>

<ng-include src="'/templates/funds/_deposit_coin.html'"></ng-include>

<ng-include src="'/templates/funds/_deposit_coin_history.html'"></ng-include>
