= simple_form_for @ticket do |f|
  .form-group
    .col-xs-20.col-xs-offset-4
      = t('.intro')
  = f.input :title
  = f.input :content, input_html: {rows: 10}
  hr.split
  = f.button :wrapped, cancel: tickets_path

= content_for :guide do
  ul.list-unstyled
    li: a href='#{new_self_service_path}' = t('.missing_transaction')