.row
  .col-xs-12
    = render partial: 'shared/admin/member', locals: {member: @member}
    .panel class='panel-info'
      .panel-heading
        span = t('.tag_list_title')
      .panel-body
        = form_for [:admin, @member] do |f|
          dl.dl-horizontal.dl-member
            = f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'form-control'
            br
            p.text-warning = t('.hint')
            span = t('.available_tags')
            - @member_tags.each do |tag|
              = " #{tag.key}"
            br
            = f.submit t('.change_tag'), class: "btn btn-info pull-right"
  .col-xs-12
    = render partial: 'shared/admin/member_accounts', locals: {member: @member}

.row
  .col-xs-24
    .panel.panel-info
      .panel-heading Accounts Log
      .panel-body
        = table_for(@account_versions, class: 'table table-condensed table-hover', model: AccountVersion) do |t|
          - t.column :created_at, class: 'col-xs-6'
          - t.column :currency_text, class: 'col-xs-1'
          - t.column :modifiable_type, class: 'col-xs-2' do |x|
            - if x.modifiable_type
              span = x.modifiable_type.constantize.model_name.human
            - else
              span N/A
          - t.column :reason_text, class: 'col-xs-3'
          - t.column :amount, class: 'col-xs-4' do |x|
            code.text-info = x.amount
          - t.column :in, class: 'col-xs-3' do |x|
            - if x.in
              code.text-info = x.in
            - else
              span -
          - t.column :out, class: 'col-xs-3' do |x|
            - if x.out
              code.text-info = x.out
            - else
              span -
          - t.column :fee, class: 'col-xs-2' do |x|
            code.text-info = x.fee
        = paginate @account_versions, test: 'asdf'
