id-ID:
  withdraw_channel:
    <%= name.underscore %>:
      key: <%= name %>
      title: <%= name %> Blockchain
      intro: Withdraw <%= name %> to your own wallet
      latency: 30 minutes
      transfer: Manual
      go: Withdraw

  activerecord:
    models:
      withdraws/<%= name.underscore %>: Withdraw
    attributes:
      withdraws/<%= name.underscore %>:
        id: ID
        member_name: Account
        currency_obj_key_text: Currency
        state_and_actions: State/Action
        fund_extra_text: Withdraw Label
        fund_extrat: Withdraw Label
        fund_source: Bank
        fund_uid: Account
        created_at: Created At
        sum: Amount
        amount: Amount
        remark: Remark
        fee: Fee
    errors:
      models:
        withdraws/<%= name.underscore %>:
          attributes:
            sum:
              poor: not enough.
              greater_than: too many.
            fund_uid:
              blank: Please enter your withdrawal address
              invalid: Invalid withdrawals address, please review.
              ismine: Please use a new address.

  withdraws/<%= name.underscore %>:
    aasm_state:
      submitting: Submitting
      submitted: Submitted
      rejected: Rejected
      accepted: Accepted
      suspect: Suspect
      processing: processing
      done: Done
      almost_done: Almost Done
      canceled: Cancelled
      failed: Failed

  private:
    withdraws:
      <%= name.underscore.pluralize %>:
        destroy:
          notice: Withdraw been canceled, frozen balance has returned to your account
        update:
          notice: Withdraw request is submit successful, we will process it as soon as possible
          alert_two_factor: Two-Factor Authentication error
        new:
          submit: Submit
          allin: All-In
          fund_source_label: Label
          manage_fund_source: Manage Fund Source
        create:
          notice: Withdrawal request successfully submitted. Use the info below to
            complete the bank transfer.

  admin:
    withdraws:
      <%= name.underscore.pluralize %>:
        index:
          one: Pending withdrawals
          all: Last 48 hours
          empty: No data
        show:
          process: Accepted
          succeed: Withdraw
          reject: Reject
          succeed_confirm: Process withdrawal?
          reject_confirm: Reject withdrawal?
          withdraw: <%= name %> Withdrawals

  simple_form:
    labels:
      withdraw:
        <%= name.underscore %>:
          fee: Fee
          sum: Amount
          fund_uid: <%= name %> Address
          fund_extra: Label
          account_balance: Account Balance
          member_name: Account
    placeholders:
      withdraw:
        <%= name.underscore %>:
          sum: Minimum amount 0.001
          fund_extra: Enter a label for this address (optional)
    hints:
      withdraw:
        <%= name.underscore %>:
          sum: "<a target='_balance' href='#'>Fee structure</a>"

  guides:
    private:
      withdraws:
        <%= name.underscore.pluralize %>:
          panel: Withdraw <%= name %>
          new:
            intro:  Withdraw <%= name %> from your wallet.
            default-panel: Transaction History
          create:
            intro:  Withdraw <%= name %> from your wallet.
            default-panel: Transaction History
          edit:
            intro:  Withdraw <%= name %> from your wallet.
