id-ID:
  withdraw_channel:
    <%= name.underscore %>:
      key: <%= name %>
      title: <%= name %> Blockchain
      intro: Tarik <%= name %> dari dompet anda
      latency: 6 konfirmasi
      transfer: Manual
      go: Tarik

  activerecord:
    models:
      withdraws/<%= name.underscore %>: Withdraw
    attributes:
      withdraws/<%= name.underscore %>:
        id: ID
        member_name: Member
        currency_obj_key_text: Mata Uang
        state_and_actions: Status/Aksi
        fund_source: Bank
        fund_extra: Bank
        fund_extra_text: Bank
        fund_uid: Nomor Rekening
        sum: Jumlah
        fee: Biaya
        amount: Jumlah
        remark: Remark
        created_at: Dibuat Pada
    errors:
      models:
        withdraws/<%= name.underscore %>:
          attributes:
            sum:
              poor: kurang banyak.
              greater_than: lebih dari.
            fund_uid:
              blank: Mohon masukkan alamat penarikan
              invalid: Alamat penarikan salah, mohon periksa kembali.
              ismine: Mohon gunakan alamat lain.

  withdraws/<%= name.underscore %>:
    aasm_state:
      submitting: Mengajukan
      submitted: Diajukan
      rejected: Ditolak
      accepted: Disetujui
      suspect: Dicurigai
      processing: Diproses
      done: Selesai
      almost_done: Hampir Selesai
      canceled: Dibatalkan
      failed: Gagal

  private:
    withdraws:
      <%= name.underscore.pluralize %>:
        destroy:
          notice: Penarikan telah dibatalkan, jumlah yang dibekukan telah dikembalikan ke akun anda
        update:
          notice: Permohonan penarikan telah diajukan, kami akan memprosesnya segera
          alert_two_factor: Two-Factor Authentication error
        new:
          submit: Ajukan
          allin: Semua
          fund_source_label: Label
          manage_fund_source: Atur Sumber Dana

  admin:
    withdraws:
      <%= name.underscore.pluralize %>:
        index:
          one: Pending withdrawals
          all: Last 48 hours
          empty: No data
        show:
          process: Accepted
          succeed: Withdraw
          reject: Reject
          succeed_confirm: Process withdrawal?
          reject_confirm: Reject withdrawal?
          withdraw: <%= name %> Withdrawals

  simple_form:
    labels:
      withdraw:
        <%= name.underscore %>:
          fee: Biaya
          sum: Jumlah
          fund_uid: Alamat <%= name %>
          fund_extra: Label
          account_balance: Saldo Akun
          member_name: Nama Akun
    placeholders:
      withdraw:
        <%= name.underscore %>:
          sum: Jumlah minimum 0.001
          fund_extra: Masukan label（opsional)
    hints:
      withdraw:
        <%= name.underscore %>:
          sum: "<a target='_balance' href='#'>Struktur biaya</a>"

  guides:
    private:
      withdraws:
        <%= name.underscore.pluralize %>:
          panel: Penarikan <%= name %>
          new:
            intro:  Tarik <%= name %> dari dompet anda.
            default-panel: Histori Transaksi
          create:
            intro: Tarik <%= name %> dari dompet anda.
            default-panel: Histori Transaksi
          edit:
            intro: Tarik <%= name %> dari dompet anda.
