id-ID:
  deposit_channel:
    <%= name.underscore %>:
      key: <%= name %>
      title: Penyetoran <%= name %>
      intro: Penyetoran <%= name.underscore %> dari alamat dompet anda ke akun BitNusa
      latency: 6 konfirmasi
      transfer: Manual
      go: Setor

  activerecord:
    attributes:
      deposits/<%= name.underscore %>:
        created_at: Dibuat Pada
        txid: Transaction ID
        amount: Jumlah
        confirmations: Konfirmasi
        aasm_state_text: Status

  deposits/<%= name.underscore %>:
    aasm_state:
      submitted: Diajukan
      accepted: Disetujui
      checked: Diperiksa
      warning: Diperingatkan

  guides:
    private:
      deposits:
        <%= name.underscore.pluralize %>:
          panel: Penyetoran
          intro: Penyetoran <%= name.underscore %> dari alamat dompet anda ke akun BitNusa.
          new:
            default-panel: Transaksi Penyetoran
  admin:
    deposits:
      <%= name.underscore.pluralize %>:
        update:
          notice: Deposit successful.
        index:
          accept: Accept
          accept_confirm: Accept confirm ?

  private:
    deposits:
      <%= name.underscore.pluralize %>:
        new:
          step-1: Langkah Pertama
          open-wallet: Silahkan gunakan layanan dompet bersama, dompet lokal, dompet genggam, atau dompet online, pilih pembayaran dan kirim.
          step-2: Langkah Kedua
          send-coin: Silahkan tulis alamat khusus untuk <%= name.underscore %> berikut pada dompet anda, dan masukkan jumlah <%= name.underscore %>  yang ingin anda setorkan. 
          or: Anda juga bisa
          scan-qr: Pindai kode QR untuk membayar pada dompet genggam anda.
          step-3: Langkah Ketiga
          check-confirm: Kirim <%= name.underscore %> ke akun BitNusa anda. Ketika transaksi mendapatkan tiga konfirmasi dari seluruh jaringan, sistem akan otomatis menambahkan kepada akun anda. Anda tidak perlu memperbaharui halaman ini, transaksi dan penambahan akan diperbaharui secara real-time.
          step-4: Langkah Keempat
          history_html: Setelah pengiriman selesai, klik <a href='javascript:window.location.reload();'>refresh</a> untuk memeriksa status penyetoran baru anda dibawah.
  market:
    currency:
      <%= code.underscore %>: <%= code.upcase %>
  currency:
    <%= name.underscore %>:
      key: <%= code.upcase %>
      code: <%= code.upcase %>
      name: <%= name.camelize %>
      format: '0,0.0000'
  private:
    funds:
      show:
        <%= code.underscore %>_format: '0.00000000'
        reason:
          <%= code.underscore %>:
            strike_add: Tambah
            strike_sub: Kurang
            deposit: Setor
            withdraw: Tarik
            fix: Fix
    shared:
      balances:
        <%= code.underscore %>_format: '0.00000000'
  enumerize:
    currency:
      <%= code.underscore %>: <%= code.upcase %>
    