/* bootstrap for trading tool vars
-------------------------------------------------------------- */
$grid-gutter-width: 4px;

/* fixed navbar to same home page 
-------------------------------------------------------------- */
$navbar-padding-horizontal: 5px;
$navbar-margin-bottom: 0px;

$navbar-height: 30px;
$marquee-exchanges-height: 20px;

$body-bg: #000;

$text-color: #ccc;
$link-color: #ddd;

$up-text: rgb(50,210,150);
$down-text: rgb(235,77,92);
$up-text-fade: rgba(50,210,150, 0.9);
$down-text-fade: rgba(235,77,92, 0.9);

$panel-bg: #273f4f;
$panel-bg-alpha: rgba(39,63,79,0.8);
$panel-default-heading-bg: #2b3434;
$panel-default-border: #354e5e;
$panel-border-radius: 4px;
$panel-body-padding: 8px 8px 8px 8px;
$panel-heading-padding: 2px 8px 0px 8px;
$panel-default-text: $text-color;

$font-family-monospace: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$navbar-default-bg: #273f4f;
$navbar-default-border: #354e5e;
$navbar-default-spliter: #354e5e;

$nav-tabs-border-color: #333;
$nav-tabs-active-link-hover-border-color: #333;
$nav-tabs-justified-link-border-color: #333;
$nav-tabs-active-link-hover-bg: $panel-default-heading-bg;
$nav-tabs-active-link-hover-color: #ccc;

$border-radius-base: 4px;

$dropdown-bg: #333;
$dropdown-link-color: #ccc;
$dropdown-link-hover-bg: lighten($dropdown-bg, 40%);

$table-bg-hover: #1e313d;

/* bootstrap form mix 
------------------------------------------------------------ */
$input-bg: $panel-bg;
$input-color: #fff;
$input-group-addon-bg: #1e313d;
$input-border: #516b7a;
$input-height-base: 25px;
$input-border-focus: $input-border;

$btn-danger-bg: #333;
$btn-danger-border: #111;

$label-info-bg: rgba(0,0,0,0);
$label-success-bg: rgba(0,0,0,0);
$label-danger-bg: rgba(0,0,0,0);
