= simple_form_for @self_service, url: self_services_path, as: :self_service do |f|
  = f.input :currency, collection: @coins, as: :select, selected: 1
  = f.input :txid,as: :string
  = f.input :captcha, required: true, label: t('simple_form.labels.session.captcha') do
    = show_simple_captcha
  hr.split
  = f.button :wrapped, t('actions.submit'), cancel: settings_path

= content_for :guide do
  ul.list-unstyled
    li: a href='/documents/txid_how' = t('.txid_how')