.row
  .col-xs-8
    .panel.panel-primary
      .panel-heading
        span = t('.deposit')
      .panel-body
        = description_for :member do
          = item_for @bank, :token
          = item_for @bank.member, :name
          = item_for @bank, :amount
          = item_for @bank, :created_at
          hr.split
          = item_for @bank, :fund_extra, bank_code_to_name(@bank.fund_extra)
          = item_for @bank, :fund_uid
          = item_for @bank, :to_bank
          = item_for @bank, :aasm_state_text

  .col-xs-8
    .panel class='panel-primary'
      .panel-heading
        span = t('.target_deposit')
      .panel-body
        = form_for [:admin, @bank] do |f|
          dl.dl-horizontal.dl-member
            = item_for @bank, :token
            = item_for @bank, :amount
            = item_for @bank, :done_at
            - if @bank.may_submit? or @bank.may_accept?
              dt = t('.txid')
              dd = f.text_field :txid, class: 'col-xs-24'
              hr.split
              = f.submit t('.accept'), class: 'btn btn-primary pull-right', confirm: t('.confirm')
            - else
              = item_for @bank, :txid

  .col-xs-8
    = render partial: 'shared/admin/member', locals: {member: @bank.member}
