footer
  hr
  .container
    .row.text-center
      p
        | &copy; Copyright BitNusa 2017 - <a href="/documents/terms">Syarat Penggunaan</a> - <a href="/documents/license">Lisensi</a> - <a href="/documents/api_v2">API</a>
  br
