header.navbar.navbar-default.navbar-static-top role = "navigation"
  .container
    ul#menu.nav.navbar-nav.navbar-left
      a.text-center.navbar-brand href='#{root_path}'
        img.logo src='#{image_path 'logo.svg'}'
      = top_nav_link(t('header.market'), market_path(current_market.id), 'exchange', target: true)
      = top_nav_link(t('header.funds'), funds_path, 'money', controllers: ['funds']) if current_user
      = top_nav_link(t('header.history'), order_history_path, 'book', controllers: ['history']) if current_user
      = top_nav_link('Mock Penyetoran', documents_deposit_mock_path, 'credit-card', controllers: ['documents']) if Rails.env.development? || Rails.env.staging?

    ul.nav.navbar-nav.navbar-right
      = render partial: 'shared/header_account_balance' if current_user && controller_name == 'markets'
      = render partial: 'shared/header_profile_setting' if current_user
      = top_nav_link(t('header.signin'), signin_path, '') unless current_user
      = top_nav_link(t('header.signup'), signup_path, '') unless current_user
      = render partial: 'shared/header_lang_sel'
