nav#nav1.navbar.navbar-default.navbar-inverse
  #welcome_price.container
    .navbar-header.pull-left
      a.navbar-brand href="/"      
          img src='#{image_path 'logo.svg'}'
      - if Rails.env.development?
        h3.env-tag style="color:white" Development		
      - if Rails.env.staging?		
        h3.env-tag style="color:white" Staging
    ul.nav.navbar-nav.pull-right
      li  
        a.btcidr.btcidr-mobile href="/markets/btcidr"  
    ul.nav.navbar-nav.pull-right
      li  
        a.btcidr.btcidr-desktop href="/markets/btcidr"   
      li
        a href="/documents"  Bantuan
      li
        a href="http://community.#{ENV['URL_HOST']}"  Komunitas
      li
        a.btn.btn-default.navbar-btn.btn-info type="button" href="/markets/btcidr"  Jual / Beli Sekarang!
nav#nav_bar.navbar.navbar-default.navbar-inverse.navbar-fixed-top
  #welcome_price2.container
    .navbar-header.pull-left
      a.navbar-brand href="/"      
          img src='#{image_path 'logo.svg'}'
      - if Rails.env.development?
        h3.env-tag style="color:white" Development		
      - if Rails.env.staging?		
        h3.env-tag style="color:white" Staging
    ul.nav.navbar-nav.pull-right
      li  
        a.btcidr.btcidr-mobile href="/markets/btcidr"  
    ul.nav.navbar-nav.pull-right
      li  
        a.btcidr.btcidr-desktop href="/markets/btcidr"   
      li
        a href="/documents"  Bantuan
      li
        a href="http://community.#{ENV['URL_HOST']}"  Komunitas
      li
        a.btn.btn-default.navbar-btn.btn-info type="button" href="/markets/btcidr"  Jual / Beli Sekarang!
/! FIRST ROW (SIGN UP)
.intro-section
  .bg-image
    br/
    .container.firstrow
      .row
        center
          h1 Bursa Jual Beli Digital Asset Terdepan di Indonesia
          br/
          - if current_user && current_user.name
            span.firstrow-text Halo #{current_user.name}, selamat datang di Bitnusa.
          - elsif current_user
            span.firstrow-text Halo #{current_user.email}, selamat datang di Bitnusa.
          - else
            span.firstrow-text Bergabunglah Dalam Bursa Jual Beli Digital Asset Generasi Lanjut.
          br/
          br/
          br/
          .container
            .col-sm-4.col-xs-12
            - if current_user
              .col-sm-2.col-xs-12
                a.btn.btn-info.signup type="button" href="/markets/btcidr"  Bursa
                br
                br
              .col-sm-2.col-xs-12
                a.btn.btn-info.signin type="button" href="/funds"  Dana
            - else
              .col-sm-2.col-xs-12
                a.btn.btn-info.signup type="button" href="/signup"  Daftar Akun
                br
                br
              .col-sm-2.col-xs-12
                a.btn.btn-info.signin type="button" href="/signin"  Masuk
            .col-sm-4.col-xs-12
      br/      
      br/
      br
/! SECOND ROW (STEPS & MULAI)
.start-section
  .container
    .row.vcenter2
      h3.h3-dash.h3-normal 3 Langkah Mudah Membeli Bitcoin Termurah Di BitNusa
    hr.start-divider-mobile
    .row.vcenter2
      .col-sm-3.col-xs-12
        .row.vcenter2
          .col-sm-4
            center
              .numberCircle 1
          .col-sm-8
            br
            | Buat akun dan lengkapi pendaftaran.
      .col-sm-3.col-xs-12
        .row.vcenter2
          .col-sm-4
            center
              .numberCircle
                p 2
          .col-sm-8
            br
            | Setor dana rupiah anda melalui transfer bank.
      .col-sm-3.col-xs-12
        .row.vcenter2
          .col-sm-4
            center
              .numberCircle 3
          .col-sm-8
            br
            | Masukan jumlah rupiah yang ingin tukar.
      .col-sm-3.col-xs-12
        br
        center
          - if current_user
            a.btn.btn-lg.btn-info.btn-block.buttonmulai type="submit" href="/funds"  Mulai
          - else
            a.btn.btn-lg.btn-info.btn-block.buttonmulai type="submit" href="/signup"  Mulai
  br
.advantage-section
  /! 3RD ROW
  .container
    .row
      .col-sm-12
        center
          h3.h3-normal Apa kelebihan digital asset seperti <img class="btc-inline" src='/icon-btc.svg'> ?
          h2 Tiga alasan utama orang beralih ke digital asset
        br/
        br
        .col-sm-4
          center
            i.fa.fa-5x.fa-paper-plane
            h3 Pindahkan Uang Dengan Cepat
            | Gunakan digital asset untuk mengirim uang kepada keluarga dan sahabat. Lebih murah, cepat dan mudah daripada uang konvensional.
        .col-sm-4
          center
            i.fa.fa-5x.fa-child
            h3 Kebebasan Mengatur Keuangan
            | Seperti internet, tidak ada satu badan yang mengontrol digital asset. Menyediakan pengguna dengan transparansi dan privasi. Kontrol uang anda di tangan anda sendiri.
        .col-sm-4
          center          
            i.fa.fa-5x.fa-line-chart
            h3 Sarana Investasi Modern
            | Digital asset sebagai emas digital yang memiliki ketersediaan yang terbatas. Gunakan digital asset sebagai portofolio alternatif atau investasi jangka panjang anda.
  br/
/! 4TH ROW
.why-section
  .container
    br
    .row
      br/
      center
        img.img-responsive.img-screen src='#{image_path 'sample_screen.png'}' /
    .row
    center
      h2 Mengapa memilih BitNusa?
    .row.vcenter
      br/
      .col-sm-12
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-lock.fa-fw
          .col-sm-8
            h3 Keamanan Tinggi
            | Dibuat dengan standar keamanan tinggi dengan kombinasi 2FA Google Authenticator dan SMS. Memastikan hanya anda yang berhak atas akun anda.
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-bolt.fa-fw
          .col-sm-8
            h3 Instan dan Real-Time
            | Lakukan penarikan dan penyetoran rupiah atau digital asset secara instan. Pada bursa, buku pesan, grafik, dan indikator harga diperbaharui secara real time.
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-percent.fa-fw
          .col-sm-8
            h3 Biaya Hemat
            | Dapatkan kebebasan bertransaksi. Biaya pertukaran bursa transparan dan rendah. 
            br 
            a href="/documents/price" Lihat selengkapnya
    .row.vcenter
      .col-sm-12
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-cloud.fa-fw
          .col-sm-8
            h3 Dompet Awan
            | Manfaatkan kemudahan fasilitas dompet online kami. Kirim dan deposit digital asset secara aman dan gratis.
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-sliders.fa-fw
          .col-sm-8
            h3 Keberagaman Asset
            | Tukarkan Bitcoin, Ethereum, Litecoin, dan digital asset lainnya. Kembangkan portofolio anda.
        .col-sm-4
          .col-sm-4
              i.fa.fa-5x.fa-phone-square.fa-fw
          .col-sm-8.last
            h3 Layanan Pengguna
            | Ajukan tiket layanan dengan mudah, kami siap membantu anda kapanpun. Dapatkan notifikasi pembaharuan secara berkala atas masalah anda.
        br/
  br/
  br/
  br/
/.event-section
  h2 Bitnusa launch event: Bagikan Kabarnya!
  h3#countdown
  br
  br
  br
  img.gift-stub-img.img-responsive.img-circle.img-md src='/gift-icon.png' /
  .vefs-milestone-wrapper
    .milestone-container
      .chart-container
        .line-container
          .line
          .line.left[style="width: #{@event_percent}%;"]
        .dot-container
          .milestones.milestone__0
            .dot.completed.colored
              i.fa.fa-rocket
          .milestones.milestone__23
            .dot.completed.colored
              i.fa.fa-percent
          .milestones.milestone__37
            .dot
              img src='/icon-etc.svg' width='30px'
          .milestones.milestone__55
            .dot
              img src='/icon-bch.svg' width='50px'
          .milestones.milestone__82
            .dot  
              img src='/icon-zec.svg'     
          .milestones.milestone__100
            .dot.completed.colored
              p.dottext 
                '/IDR
      .label-container
        .milestones.milestone__0.col-sm-2
          br
          .label.colored Meluncur ke bulan!
          br
        .milestones.milestone__23.col-sm-2
          br
          .label.colored 1000 pendaftar
          br
          span Biaya taker: 0.12% setahun penuh
        .milestones.milestone__37.col-sm-2
          br
          .label.colored 2000 pendaftar         
          br
          span Bursa terbuka: Ethereum Classic
        .milestones.milestone__55.col-sm-2
          br
          .label.colored 5000 pendaftar
          br
          span Bursa terbuka: Bitcoin Cash
        .milestones.milestone__82.col-sm-2
          br
          .label 20000 pendaftar
          br
          span Bursa terbuka: Zcash  
        .milestones.milestone__100.col-sm-2
          br
          .label 50000 pendaftar
          br
          span Bursa rupiah untuk setiap altcoin
  br
  br
  br
  br
  p Setelah mengerti kelebihan BitNusa, bagaimana ajaklah juga teman anda supaya bisa ikut menikmati kenyamanan jual beli di BitNusa. Bersama-sama dapatkan reward yang berlaku untuk seluruh member BitNusa.
  h3 Bagikan Pada
  a.fa.fa-twitter.fa-3x href="https://twitter.com/home?status=Ayo%20gabung%20di%20bitnusa.com,%20bursa%20real-time,%20biaya%20hemat,%20dan%20altcoin%20lengkap.%20Bisa%20trading%20$BTC%20$BCH%20$ETH%20$ETC%20$LTC%20$ZEC%20$DOGE%20$DASH."
  a.fa.fa-facebook-official.fa-3x href="https://www.facebook.com/sharer/sharer.php?u=www.bitnusa.com"
  a.fa.fa-google-plus.fa-3x href="https://plus.google.com/share?url=bitnusa.com"
  p.terms 
    | <sup>1</sup>Biaya taker aktif segera.
    br
    | <sup>2</sup>Bursa terbuka pada akhir event.
    br
    | <sup>3</sup>Bursa merupakan pasangan bitcoin (/BTC) dan bebas biaya.
.community-section
  .container
    .row
      .col-lg-12
        center
          h2.h2-white Gabung Komunitas Kami
        br/
        br/
        .col-lg-6
          center
            img.img-responsive.img-commu src='#{image_path 'community-img.svg'}' /
        .col-lg-5
          br/
          br/
          | BitNusa adalah milik anda. Kami mengerti bahwa komunitas adalah hal yang utama, di BitNusa pengguna dapat bertukar ilmu, informasi, ataupun berita. Segera bergabung!
          br/
          br/
          a.btn.btn-lg.btn-info type="submit" href="http://community.#{ENV['URL_HOST']}" Gabung Sekarang
  br/
.app-section
  br/
  .container
    .row
      .col-lg-12
        center
          h3.h3-normal Aplikasi Mobile
          h2 Transaksi Digital Asset Dalam Genggaman Anda
          br
          .col-lg-12
            .col-lg-3
            .col-lg-3
                img.img-responsive width='245px' src='#{image_path 'iphone7spacegrey_portrait.png'}' /
                br/
            .col-lg-3
                img.img-responsive width='245px' src='#{image_path 'nexus5x-portrait.png'}' /
            .col-lg-3
          br/   
          br/
          | Pantau harga, jual, dan beli digital asset melalui aplikasi mobile. Jangan lewatkan lagi momen jual dan beli terbaik anda. Unduh aplikasinya sekarang!
          br/
          br/
          .col-lg-12
            .col-lg-4
            .col-lg-2
              a href="https://itunes.apple.com/id"
                img.img-responsive width='150px' src='/appstore.svg' 
              br/
            .col-lg-2
              a href="https://play.google.com"
                img.img-responsive width='150px' src='/playstore.svg'
              br
            .col-lg-4
  br/
br/
/! 5TH ROW (SUPPORTED COINS)
.container
  .row
    .mobile-digital-assets.col-lg-4
      center
        h2 Digital Asset Tersedia
        | Digital asset yang tersedia adalah yang telah kami ulas dan memiliki kestabilan dan keamanan tinggi.
      br
      hr
    .col-lg-8.rightborder
      .row
        .toppadding.col-sm-12.col-md-6
          .row.vcenter2
            .col-sm-4
              center
                img.img-responsive.img-circle.img-md src='/icon-btc.svg' /
            .col-sm-8
              h3 Bitcoin
              | Digital asset desentralisasi pertama di dunia, sistem bekerja tanpa ada satu badan sentral.
        .toppadding.col-sm-12.col-md-6
          .row.vcenter2
            .col-sm-4
              center
                img.img-responsive.img-circle.img-md src='/icon-eth.svg' /
            .col-sm-8
              h3 Ethereum
              | Platform komputasi terdistribusi berbasis blockchain yang memiliki fitur kontrak pintar pertama.
        .toppadding.col-sm-12.col-md-6
          .row.vcenter2
            .col-sm-4
              center
                img.img-responsive.img-circle.img-md src='/icon-ltc.svg' /
            .col-sm-8
              h3 Litecoin
              | Digital asset perkembangan bitcoin yang memungkinkan transaksi yang lebih cepat dengan Lightning Network.
        .toppadding.col-sm-12.col-md-6
          .row.vcenter2
            .col-sm-4
              center
                i.fa.fa-question-circle-o
            .col-sm-8
              h3 Tunggu selanjutnya!
              | Digital asset yang akan dilisting di bursa ditambah secara berkala, tunggu asset selanjutnya!
      br/
    .desktop-digital-assets.col-lg-4
      h2 Digital Asset Tersedia
      | Jual dan beli digital asset terbaik yang telah lulus uji ulasan kami. Seluruh digital asset di BitNusa terjamin memiliki kestabilan dan keamanan tinggi.
br/
/! FOOTER
.footerstyle
  br/
  br/
  .container
    .row.footerdown
      .col-sm-3
        img.img-sm src='#{image_path 'logo_claim.svg'}' /
        br/
        br/
      .col-sm-1
        ul.nobullet
          li 
            b Navigation
          li 
            a href="/" Beranda
          li 
            a href="/markets/btcidr" Bursa
          li 
            a href="http://community.#{ENV['URL_HOST']}" Komunitas     
          li 
            a href="/tickets" Bantuan
      .col-sm-2
        ul.nobullet
          li 
            b Learn
          li 
            a href="/documents/price" Biaya
          li
            a href="/documents/api_v2" API
          li
            a href="/documents/terms" Syarat Penggunaan
          li 
            a href="/documents/license" Lisensi  
        br/
      .col-sm-3
        span.mdtext support@bitnusa.com
        br/
        span.smalltext Alamanda Office Bali Lt. 4, Jl. Bypass Ngurah Rai No. 67, Kedonganan, Kuta, Bali
        br
        br
      .col-sm-3
        span.xstext
          | 
          b Perhatian 
          | Perdagangan digital asset merupakan aktivitas beresiko tinggi. bitnusa.com tidak memaksa pengguna untuk membeli atau menjual digital asset dengan harga tertentu. Seluruh keputusan merupakan keputusan pengguna.
          br
          img.img-smd.first src='/verified_by_visa.svg' /
          img.img-smd.last src='/mastercard_securecode.svg' /
    br/

