module Admin
  module Deposits
    class <%= name.camelize.pluralize %>Controller < ::Admin::Deposits::BaseController
      load_and_authorize_resource :class => '::Deposits::<%= class_name %>'

      def index
        start_at = DateTime.now.ago(60 * 60 * 24 * 365)
        @<%= name.underscore.pluralize %> = @<%= name.underscore.pluralize %>.includes(:member).
          where('created_at > ?', start_at).
          order('id DESC').page(params[:page]).per(20)
      end

      def update
        @<%= name.underscore %>.accept! if @<%= name.underscore %>.may_accept?
        redirect_to :back, notice: t('.notice')
      end
    end
  end
end
