.jumbotron
  h2 Mock Penyetoran pada Development/Staging Server

.panel.panel-default
  table.table
    thead
      tr
        th Mata Uang
        th Link
    tbody
      tr
        td Rupiah (IDR)
        td <a href="https://docs.midtrans.com/en/reference/test.html">https://docs.midtrans.com/en/reference/test.html</a>
      tr
        td Bitcoin (BTC)
        td <a href="https://testnet.coinfaucet.eu/en/">https://testnet.coinfaucet.eu/en/</a>
      tr
        td Ethereum (ETH)
        td <a href="https://faucet.rinkeby.io">https://faucet.rinkeby.io</a>
      tr
        td Litecoin (LTC)
        td <a href="http://testnet.litecointools.com">http://testnet.litecointools.com</a>