.panel-body
      = table_for(@docs, class: 'table table-condensed table-hover') do |t|
        - t.column :title, t('.title') , class: 'col-xs-2'
        - t.column :actions, t('.actions'), class: 'col-xs-1' do |x|
          = link_to t('.view'), document_path(x), target: '_blank'

= content_for :guide do
  p.text-warning
    = t('.warning')
    a href="/tickets" = t('.ticket')