.panel.panel-default
  .panel-heading
    h3 Lisensi Open-Source
    p Daftar lisensi perangkat lunak open-source yang terdapat pada BitNusa

  .panel-body
    p  aasm,3.4.0,https://github.com/aasm/aasm,State machine mixin for Ruby objects,MIT
    p  actionmailer,4.0.12,http://www.rubyonrails.org,"Email composition, delivery, and receiving framework (part of Rails).",MIT
    p  actionpack,4.0.12,http://www.rubyonrails.org,Web-flow and rendering framework putting the VC in MVC (part of Rails).,MIT
    p  active_hash,1.3.0,http://github.com/zilkey/active_hash,An ActiveRecord-like model that uses a hash or file as a datasource,MIT
    p  activemodel,4.0.12,http://www.rubyonrails.org,A toolkit for building modeling frameworks (part of Rails).,MIT
    p  activerecord,4.0.12,http://www.rubyonrails.org,Object-relational mapper framework (part of Rails).,MIT
    p  activerecord-deprecated_finders,1.0.3,https://github.com/rails/activerecord-deprecated_finders,This gem contains deprecated finder APIs extracted from Active Record.,MIT
    p  activesupport,4.0.12,http://www.rubyonrails.org,A toolkit of support libraries and Ruby core extensions extracted from the Rails framework.,MIT
    p  acts-as-taggable-on,3.0.1,https://github.com/mbleigh/acts-as-taggable-on,Advanced tagging for Rails.,MIT
    p  amq-protocol,1.9.2,http://github.com/ruby-amqp/amq-protocol,AMQP 0.9.1 encoder & decoder.,MIT
    p angularjs-rails,1.3.15,https://github.com/hiravgandhi/angularjs-rails/,Angular.js on Rails,MIT
    p  arel,4.0.2,http://github.com/rails/arel,Arel is a SQL AST manager for Ruby,MIT
    p  awesome_print,1.2.0,http://github.com/michaeldv/awesome_print,Pretty print Ruby objects with proper indentation and colors,MIT
    p  axiom-types,0.1.0,https://github.com/dkubb/axiom-types,Define types with optional constraints for use within axiom and other libraries.,MIT
    p  bcrypt-ruby,3.1.2,http://bcrypt-ruby.rubyforge.org,OpenBSD's bcrypt() password hashing algorithm.,MIT
    p  better_errors,1.1.0,https://github.com/charliesome/better_errors,Better error page for Rails and other Rack apps,MIT
    p  binding_of_caller,0.7.2,http://github.com/banister/binding_of_caller,Retrieve the binding of a method's caller. Can also retrieve bindings even further up the stack.,MIT
    p  bootstrap-sass,3.2.0.2,https://github.com/twbs/bootstrap-sass,"Twitter's Bootstrap, converted to Sass and ready to drop into Rails or Compass",MIT
    p  bootstrap-wysihtml5-rails,0.3.1.23,https://github.com/Nerian/bootstrap-wysihtml5-rails,A wysiwyg text editor for Twitter Bootstrap,MIT
    p  bourbon,3.2.3,https://github.com/thoughtbot/bourbon,Bourbon Sass Mixins using SCSS syntax.,MIT
    p  browser,0.8.0,http://github.com/fnando/browser,Do some browser detection with Ruby.,MIT
    p  builder,3.1.4,http://onestepback.org,Builders for MarkUp.,MIT
    p  bundler,1.15.4,http://bundler.io,The best way to manage your application's dependencies,MIT
    p  bunny,1.2.1,http://rubybunny.info,Popular easy to use Ruby client for RabbitMQ,MIT
    p  callsite,0.0.11,http://github.com/joshbuddy/callsite,"Caller/backtrace parser with some useful utilities for manipulating the load path, and doing other relative things.",MIT
    p  cancancan,1.7.1,https://github.com/CanCanCommunity/cancancan,Simple authorization solution for Rails.,MIT
    p  capybara,2.4.4,http://github.com/jnicklas/capybara,"Capybara aims to simplify the process of integration testing Rack applications, such as Rails, Sinatra or Merb",MIT
    p  carrierwave,0.10.0,https://github.com/carrierwaveuploader/carrierwave,Ruby file upload library,MIT
    p  childprocess,0.4.0,http://github.com/jarib/childprocess,This gem aims at being a simple and reliable solution for controlling external programs running in the background on any Ruby / OS combination.,MIT
    p  chronic,0.10.2,http://github.com/mojombo/chronic,Natural language date/time parsing.,MIT
    p  cliver,0.3.2,https://www.github.com/yaauie/cliver,Cross-platform version constraints for cli tools,MIT
    p  coderay,1.1.0,http://coderay.rubychan.de,Fast syntax highlighting for selected languages.,MIT
    p  coercible,1.0.0,https://github.com/solnic/coercible,"Powerful, flexible and configurable coercion library. And nothing more.",MIT
    p  coffee-rails,4.0.1,https://github.com/rails/coffee-rails,CoffeeScript adapter for the Rails asset pipeline.,MIT
    p  coffee-script,2.2.0,http://github.com/josh/ruby-coffee-script,Ruby CoffeeScript Compiler,MIT
    p  coffee-script-source,1.7.0,http://jashkenas.github.com/coffee-script/,The CoffeeScript Compiler,MIT
    p  countries,0.9.3,http://github.com/hexorx/countries,Gives you a country object full of all sorts of useful information.,MIT
    p  country_select,2.1.0,https://github.com/stefanpenner/country_select,Country Select Plugin,MIT
    p  currencies,0.4.2,http://github.com/hexorx/currencies,Simple gem for working with currencies. It is extracted from the countries gem and contains all the currency information in the ISO 4217 standard.,MIT
    p  daemons,1.1.9,http://daemons.rubyforge.org,A toolkit to create and control daemons in different ways,MIT
    p  daemons-rails,1.2.1,"",daemonization support for Rails 3+,MIT
    p  database_cleaner,1.2.0,http://github.com/bmabey/database_cleaner,Strategies for cleaning databases.  Can be used to ensure a clean state for testing.,MIT
    p  datagrid,1.0.5,http://github.com/bogdan/datagrid,Ruby gem to create datagrids,MIT
    p  debug_inspector,0.0.2,https://github.com/banister/debug_inspector,A Ruby wrapper for the MRI 2.0 debug_inspector API,MIT
    p  debugger-linecache,1.2.0,http://github.com/cldwalker/debugger-linecache,Read file with caching,MIT
    p  descendants_tracker,0.0.3,https://github.com/dkubb/descendants_tracker,Module that adds descendant tracking to a class,MIT
    p  diff-lcs,1.2.5,http://diff-lcs.rubyforge.org/,Diff::LCS computes the difference between two Enumerable sequences using the McIlroy-Hunt longest common subsequence (LCS) algorithm,MIT
    p  doorkeeper,1.4.1,https://github.com/doorkeeper-gem/doorkeeper,Doorkeeper is an OAuth 2 provider for Rails.,MIT
    p  dotenv,0.9.0,https://github.com/bkeepers/dotenv,Loads environment variables from `.env`.,MIT
    p  easy_table,0.0.6,"",HTML tables made easy (in Rails 4),MIT
    p  eco,1.0.0,https://github.com/sstephenson/ruby-eco,Ruby Eco Compiler (Embedded CoffeeScript templates),MIT
    p  enumerize,0.8.0,https://github.com/brainspec/enumerize,Enumerated attributes with I18n and ActiveRecord/Mongoid/MongoMapper support,MIT
    p  equalizer,0.0.9,https://github.com/dkubb/equalizer,"Module to define equality, equivalence and inspection methods",MIT
    p  erubis,2.7.0,http://www.kuwata-lab.com/erubis/,a fast and extensible eRuby implementation which supports multi-language,MIT
    p  execjs,2.2.1,https://github.com/sstephenson/execjs,Run JavaScript code from Ruby,MIT
    p  factory_girl,4.3.0,https://github.com/thoughtbot/factory_girl,factory_girl provides a framework and DSL for defining and using model instance factories.,MIT
    p  factory_girl_rails,4.3.0,http://github.com/thoughtbot/factory_girl_rails,factory_girl_rails provides integration between factory_girl and rails 3,MIT
    p  faker,1.4.3,https://github.com/stympy/faker,Easily generate fake data,MIT
    p  figaro,0.7.0,https://github.com/laserlemon/figaro,Simple Rails app configuration,MIT
    p  font-awesome-sass,4.2.0,https://github.com/FortAwesome/font-awesome-sass,Font-Awesome SASS,MIT
    p  gem-licenses,0.2.1,http://github.com/dblock/gem-licenses,Attempts to figure out what licenses various gems use.,MIT
    p  globalize,4.0.0,http://github.com/globalize/globalize,Rails I18n de-facto standard library for ActiveRecord model/data translation,MIT
    p  gon,5.2.0,https://github.com/gazay/gon,Get your Rails variables in your JS,MIT
    p  grape,0.7.0,https://github.com/intridea/grape,A simple Ruby framework for building REST-like APIs.,MIT
    p  grape-entity,0.4.2,https://github.com/intridea/grape-entity,A simple facade for managing the relationship between your model and API.,MIT
    p  grape-swagger,0.7.2,http://github.com/tim-vandecasteele/grape-swagger,Add swagger compliant documentation to your grape API,MIT
    p  hashie,3.3.2,https://github.com/intridea/hashie,Your friendly neighborhood hash library.,MIT
    p  hike,1.2.3,http://github.com/sstephenson/hike,Find files in a set of paths,MIT
    p  http_accept_language,2.0.1,https://github.com/iain/http_accept_language,Find out which locale the user preferes by reading the languages they specified in their browser,MIT
    p  http_parser.rb,0.6.0,http://github.com/tmm1/http_parser.rb,Simple callback-based HTTP request/response parser,MIT
    p  i18n,0.7.0,http://github.com/svenfuchs/i18n,New wave Internationalization support for Ruby,MIT
    p  ice_nine,0.11.0,https://github.com/dkubb/ice_nine,Deep Freeze Ruby Objects,MIT
    p  jbuilder,2.0.2,https://github.com/rails/jbuilder,Create JSON structures via a Builder-style DSL,MIT
    p  jquery-rails,3.1.0,http://rubygems.org/gems/jquery-rails,Use jQuery with Rails 3,MIT
    p  jwt,1.2.0,http://github.com/progrium/ruby-jwt,JSON Web Token implementation in Ruby,MIT
    p  kaminari,0.15.1,https://github.com/amatsuda/kaminari,A pagination engine plugin for Rails 3+ and other modern frameworks,MIT
    p  kramdown,1.3.3,http://kramdown.gettalong.org,"kramdown is a fast, pure-Ruby Markdown-superset converter.",MIT
    p  liability-proof,0.0.9,https://github.com/peatio/liability-proof,An implementation of Greg Maxwell's Merkle approach to prove Bitcoin liabilities.,MIT
    p  mail,2.6.3,https://github.com/mikel/mail,"Mail provides a nice Ruby DSL for making, sending and reading emails.",MIT
    p  mails_viewer,0.1.2,https://github.com/pragmaticly/mails_viewer,A mails preview Engine which provides a table view for all mails under tmp/mails.,MIT
    p  meta_request,0.2.8,https://github.com/dejan/rails_panel/tree/master/meta_request,Supporting gem for Rails Panel (Google Chrome extension for Rails development),MIT
    p  metaclass,0.0.2,https://github.com/floehopper/metaclass,Adds a metaclass method to all Ruby objects,MIT
    p  method_source,0.8.2,http://banisterfiend.wordpress.com,retrieve the sourcecode for a method,MIT
    p  mime-types,1.25.1,http://mime-types.rubyforge.org/,This library allows for the identification of a file's likely MIME content type,MIT
    p  mina,0.3.0,http://github.com/nadarei/mina,Really fast deployer and server automation tool.,MIT
    p  mina-slack,0.0.3,https://github.com/TAKAyukiatkwsk/mina-slack,Slack web hook from mina,MIT
    p  mini_portile,0.6.2,http://github.com/flavorjones/mini_portile,Simplistic port-like solution for developers,MIT
    p  minitest,4.7.5,https://github.com/seattlerb/minitest,"minitest provides a complete suite of testing facilities supporting TDD, BDD, mocking, and benchmarking",MIT
    p  mocha,1.0.0,http://gofreerange.com/mocha/docs,Mocking and stubbing library,MIT
    p  momentjs-rails,2.5.1,https://github.com/derekprior/momentjs-rails,The Moment.js JavaScript library ready to play with Rails.,MIT
    p  multi_json,1.12.2,http://github.com/intridea/multi_json,A common interface to multiple JSON libraries.,MIT
    p  multi_xml,0.5.5,https://github.com/sferik/multi_xml,A generic swappable back-end for XML parsing,MIT
    p  mysql2,0.3.21,http://github.com/brianmario/mysql2,"A simple, fast Mysql library for Ruby, binding to libmysql",MIT
    p  nokogiri,1.6.5,http://nokogiri.org,"Nokogiri (鋸) is an HTML, XML, SAX, and Reader parser",MIT
    p  omniauth,1.2.2,http://github.com/intridea/omniauth,A generalized Rack framework for multiple-provider authentication.,MIT
    p  paper_trail,3.0.1,https://github.com/airblade/paper_trail,Track changes to your models' data. Good for auditing or versioning.,MIT
    p  paranoid2,1.1.3,https://github.com/anjlab/paranoid2,paranoid models for rails 4,MIT
    p  peatio,https://github.com/peatio/peatio,An open-source assets exchange.,MIT
    p  phonelib,0.3.5,https://github.com/daddyz/phonelib,Gem validates phone numbers with Google libphonenumber database,MIT
    p  poltergeist,1.5.1,http://github.com/jonleighton/poltergeist,PhantomJS driver for Capybara,MIT
    p  pry,0.9.12.6,http://pry.github.com,An IRB alternative and runtime developer console,MIT
    p  pry-rails,0.3.2,https://github.com/rweng/pry-rails,Use Pry as your rails console,MIT
    p  pusher,1.3.1,http://github.com/pusher/pusher-http-ruby,Pusher API client,MIT
    p  pusher-signature,0.1.8,http://github.com/pusher/pusher-signature,Simple key/secret based authentication for apis,MIT
    p  rack,1.5.2,http://rack.github.com/,a modular Ruby webserver interface,MIT
    p  rack-accept,0.4.5,http://mjijackson.github.com/rack-accept,HTTP Accept* for Ruby/Rack,MIT
    p  rack-attack,3.0.0,http://github.com/kickstarter/rack-attack,Block & throttle abusive requests,MIT
    p  rack-contrib,1.1.0,http://github.com/rack/rack-contrib/,Contributed Rack Middleware and Utilities,MIT
    p  rack-mount,0.8.3,https://github.com/josh/rack-mount,Stackable dynamic tree based Rack router,MIT
    p  rack-test,0.6.3,http://github.com/brynary/rack-test,Simple testing API built on Rack,MIT
    p  rails,4.0.12,http://www.rubyonrails.org,Full-stack web application framework.,MIT
    p  rails-i18n,4.0.1,http://github.com/svenfuchs/rails-i18n,Common locale data and translations for Rails i18n.,MIT
    p  rails-observers,0.1.2,https://github.com/rails/rails-observers,"ActiveModel::Observer, ActiveRecord::Observer and ActionController::Caching::Sweeper extracted from Rails.",MIT
    p  railties,4.0.12,http://www.rubyonrails.org,"Tools for creating, working with, and running Rails applications.",MIT
    p  rake,10.4.2,,This rake is bundled with Ruby,MIT
    p  rbtree,0.4.2,http://rbtree.rubyforge.org/,A sorted associative collection.,MIT
    p  redis,3.0.7,https://github.com/redis/redis-rb,A Ruby client library for Redis,MIT
    p  redis-actionpack,4.0.0,http://redis-store.org/redis-actionpack,Redis session store for ActionPack,MIT
    p  redis-activesupport,4.0.0,http://redis-store.org/redis-activesupport,Redis store for ActiveSupport::Cache,MIT
    p  redis-rack,1.5.0,http://redis-store.org/redis-rack,Redis Store for Rack,MIT
    p  redis-rails,4.0.0,http://redis-store.org/redis-rails,Redis for Ruby on Rails,MIT
    p  redis-store,1.1.4,http://redis-store.org/redis-store,Redis stores for Ruby frameworks,MIT
    p  request_store,1.1.0,http://github.com/steveklabnik/request_store,RequestStore gives you per-request global storage.,MIT
    p  rest-client,1.6.8,https://github.com/rest-client/rest-client,"Simple HTTP and REST client for Ruby, inspired by microframework syntax for specifying actions.",MIT
    p  rotp,3.3.0,http://github.com/mdp/rotp,A Ruby library for generating and verifying one time passwords,MIT
    p  rspec-core,2.14.7,http://github.com/rspec/rspec-core,rspec-core-2.14.7,MIT
    p  rspec-expectations,2.14.5,http://github.com/rspec/rspec-expectations,rspec-expectations-2.14.5,MIT
    p  rspec-mocks,2.14.5,http://github.com/rspec/rspec-mocks,rspec-mocks-2.14.5,MIT
    p  rspec-rails,2.14.1,http://github.com/rspec/rspec-rails,rspec-rails-2.14.1,MIT
    p  sass,3.2.19,http://sass-lang.com/,A powerful but elegant CSS compiler that makes CSS fun again.,MIT
    p  sass-rails,4.0.3,https://github.com/rails/sass-rails,Sass adapter for the Rails asset pipeline.,MIT
    p  shoulda-matchers,2.5.0,http://thoughtbot.com/community/,Making tests easy on the fingers and eyes,MIT
    p  simple_form,3.1.0,https://github.com/plataformatec/simple_form,Forms made easy!,MIT
    p  slim,2.0.2,http://slim-lang.com/,Slim is a template language.,MIT
    p  slim-rails,2.1.0,https://github.com/slim-template/slim-rails,Provides the generator settings required for Rails 3 to use Slim,MIT
    p  slop,3.4.7,http://github.com/leejarvis/slop,Simple Lightweight Option Parsing,MIT
    p  sprockets,2.11.0,http://getsprockets.org/,Rack-based asset packaging system,MIT
    p  sprockets-rails,2.2.2,https://github.com/rails/sprockets-rails,Sprockets Rails integration,MIT
    p  structured_warnings,0.1.4,http://github.com/schmidt/structured_warnings,"Provides structured warnings for Ruby, using an exception-like interface and hierarchy",MIT
    p  temple,0.6.7,https://github.com/judofyr/temple,Template compilation framework in Ruby,MIT
    p  thor,0.19.1,http://whatisthor.com/,Thor is a toolkit for building powerful command-line interfaces.,MIT
    p  tilt,1.4.1,http://github.com/rtomayko/tilt/,Generic interface to multiple Ruby template engines,MIT
    p  timecop,0.7.1,https://github.com/travisjeffery/timecop,"A gem providing ""time travel"" and ""time freezing"" capabilities, making it dead simple to test time-dependent code.  It provides a unified method to mock Time.now, Date.today, and DateTime.now in a single call.",MIT
    p  twilio-ruby,3.11.5,http://github.com/twilio/twilio-ruby,"A simple library for communicating with the Twilio REST API, building TwiML, and generating Twilio Client Capability Tokens",MIT
    p  tzinfo,0.3.42,http://tzinfo.github.io,Daylight-savings aware timezone library,MIT
    p  uglifier,2.4.0,http://github.com/lautis/uglifier,Ruby wrapper for UglifyJS JavaScript compressor,MIT
    p  unread,0.4.0,"",Manages read/unread status of ActiveRecord objects,MIT
    p  virtus,1.0.2,https://github.com/solnic/virtus,Attributes on Steroids for Plain Old Ruby Objects,MIT
    p  websocket,1.0.7,http://github.com/imanel/websocket-ruby,Universal Ruby library to handle WebSocket protocol,MIT
    p  websocket-driver,0.5.1,http://github.com/faye/websocket-driver-ruby,WebSocket protocol handler with pluggable I/O,MIT
    p  websocket-extensions,0.1.1,http://github.com/faye/websocket-extensions-ruby,Generic extension manager for WebSocket connections,MIT
    p  whenever,0.9.2,"",Cron jobs in ruby.,MIT
    p  xpath,2.0.0,http://github.com/jnicklas/xpath,Generate XPath expressions from Ruby,MIT
    p  addressable,2.3.5,http://addressable.rubyforge.org/,URI Implementation,Apache 2.0
    p  atomic,1.1.99,http://github.com/ruby-concurrency/ruby-atomic,"An atomic reference implementation for JRuby, Rubinius, and MRI",Apache 2.0
    p  selenium-webdriver,2.39.0,http://selenium.googlecode.com,The next generation developer focused tool for automated testing of webapps,Apache 2.0
    p  thread_safe,0.1.3,https://github.com/headius/thread_safe,A collection of data structures and utilities to make thread-safe programming in Ruby easier,Apache 2.0
    p  diff-lcs,1.2.5,http://diff-lcs.rubyforge.org/,Diff::LCS computes the difference between two Enumerable sequences using the McIlroy-Hunt longest common subsequence (LCS) algorithm,Perl Artistic v2
    p  mime-types,1.25.1,http://mime-types.rubyforge.org/,This library allows for the identification of a file's likely MIME content type,Perl Artistic v2
    p  columnize,0.3.6,https://github.com/rocky/columnize,Module to format an Array as an Array of String aligned in columns,GPLv2
    p  daemons-rails,1.2.1,"",daemonization support for Rails 3+,GPLv2
    p  diff-lcs,1.2.5,http://diff-lcs.rubyforge.org/,Diff::LCS computes the difference between two Enumerable sequences using the McIlroy-Hunt longest common subsequence (LCS) algorithm,GPLv2
    p  mime-types,1.25.1,http://mime-types.rubyforge.org/,This library allows for the identification of a file's likely MIME content type,GPLv2
    p  amqp,1.3.0,http://rubyamqp.info,"Widely used, feature-rich asynchronous RabbitMQ client with batteries included",Ruby
    p  columnize,0.3.6,https://github.com/rocky/columnize,Module to format an Array as an Array of String aligned in columns,Ruby
    p  eventmachine,1.0.4,http://rubyeventmachine.com,Ruby/EventMachine library,Ruby
    p  httpclient,2.8.3,https://github.com/nahi/httpclient,gives something like the functionality of libwww-perl (LWP) in Ruby,Ruby
    p  json,1.8.1,,This json is bundled with Ruby,Ruby
    p  open4,1.3.0,https://github.com/ahoward/open4,open4,Ruby
    p  rdoc,4.1.1,http://docs.seattlerb.org/rdoc,RDoc produces HTML and command-line documentation for Ruby projects,Ruby
    p  rubyzip,1.1.0,http://github.com/rubyzip/rubyzip,rubyzip is a ruby module for reading and writing zip files,Ruby
    p  test-unit,3.0.8,http://rubygems.org/gems/test-unit,An xUnit family unit testing framework for Ruby.,Ruby
    p  eventmachine,1.0.4,http://rubyeventmachine.com,Ruby/EventMachine library,gpl
    p  byebug,2.7.0,http://github.com/deivid-rodriguez/byebug,Ruby 2.0 fast debugger - base + cli,BSD
    p  ffi,1.9.3,http://wiki.github.com/ffi/ffi,Ruby FFI,BSD
    p  rubytree,0.8.3,http://rubytree.rubyforge.org,A generic tree data structure.,BSD
    p  dotenv-rails,0.9.0,https://github.com/bkeepers/dotenv,Autoload dotenv in Rails.
    p  eco-source,1.1.0.rc.1,https://github.com/sstephenson/eco/,Eco compiler source
    p  em-websocket,0.5.1,http://github.com/igrigorik/em-websocket,EventMachine based WebSocket server
    p  jquery-datatables-rails,1.12.2,https://github.com/rweng/jquery-datatables-rails,jquery datatables for rails
    p  omniauth-identity,1.1.1,http://github.com/intridea/omniauth-identity,Internal authentication handlers for OmniAuth.
    p  power_assert,0.2.2,https://github.com/k-tsj/power_assert,Power Assert for Ruby
    p  quiet_assets,1.0.2,http://github.com/evrone/quiet_assets,Turn off rails assets log.
    p  simple_captcha2,0.2.2,http://github.com/pludoni/simple-captcha,SimpleCaptcha is the simplest and a robust captcha plugin.
    p  launchy,2.4.2,http://github.com/copiousfreetime/launchy,Launchy is helper class for launching cross-platform applications in a fire and forget manner.,ISC
    p  test-unit,3.0.8,http://rubygems.org/gems/test-unit,An xUnit family unit testing framework for Ruby.,psfl
