.jumbotron
  h2 Tentang Biaya
  small Biaya adalah potongan yang dikenakan oleh BitNusa <b>diluar biaya yang dikenakan oleh jaringan digital asset masing-masing</b> saat penyetoran ataupun saat penarikan. BitNusa mendukung komunitas digital asset dengan tidak mengenakan biaya diluar biaya jaringan masing-masing saat penyetoran maupun penarikan digital asset.

.panel.panel-default
  .panel-heading
    h3 Biaya Penyetoran

  .panel-body
    p Biaya yang dikenakan saat menyetor uang atau digital asset masuk ke BitNusa.
    p.info <i class="fa fa-bolt text-warning"></i> Diproses secara Real-Time

  table.table
    thead
      tr
        th Mata Uang
        th Biaya
    tbody
      tr
        td Rupiah (IDR) <i class="fa fa-bolt text-warning"></i>
        td 
          | Kartu Kredit (Visa, Mastercard, JCB, American Express)
          br/
          | 3.2% Nilai Setoran + 2,500 Rupiah
          br
          | Transfer Bank (BCA, Mandiri, BNI, Permata, dan Bank lainnya)
          br
          | 4,000 Rupiah
          br/
          | Internet Banking (BCA KlikPay, KlikBCA, CIMB Clicks, Mandiri Clickpay, BRI e-Pay)
          br/
          | 5,000 Rupiah
      tr
        td Bitcoin (BTC) <i class="fa fa-bolt text-warning"></i>
        td Gratis selamanya
      tr
        td Ethereum (ETH) <i class="fa fa-bolt text-warning"></i>
        td Jaringan ethereum (variabel)
      /tr
        td Litecoin (LTC) <i class="fa fa-bolt text-warning"></i>
        td Gratis selamanya

.panel.panel-default
  .panel-heading
    h3 Biaya Penarikan

  .panel-body
    p Biaya yang dikenakan saat menarik uang atau digital asset keluar ke BitNusa.
    p.info <i class="fa fa-bolt text-warning"></i> Diproses secara Real-Time

  table.table
    thead
      tr
        th Mata Uang
        th Biaya
        th Limit Harian
    tbody
      tr
        td Rupiah (IDR) <i class="fa fa-bolt text-warning"></i>
        td 5,000 Rupiah
        td 100,000,000 Rupiah
      tr
        td Bitcoin (BTC) <i class="fa fa-bolt text-warning"></i>
        td Gratis
        td 1.5 Bitcoin
      tr
        td Ethereum (ETH) <i class="fa fa-bolt text-warning"></i>
        td Gratis
        td 20 Ethereum
      /tr
        td Litecoin (LTC) <i class="fa fa-bolt text-warning"></i>
        td Gratis selamanya
        td 10 Litecoin

.panel.panel-default
  .panel-heading
    h3 Biaya Trading

  .panel-body
    p Biaya yang dikenakan saat melakukan jual/beli pada platform BitNusa. Maker adalah pihak yang meletakan order jual atau beli ke dalam order book dan menunggu hingga ada pihak lain yang memenuhi order tersebut. Taker adalah pihak yang mengeksekusi pertukaran dengan memilih salah satu harga yang sudah tertera pada order book.

  table.table
    thead
      tr
        th Bursa
        th Maker
        th Taker
    tbody
      tr
        td BTC/IDR
        td 0%
        td 0.15%
      tr
        td ETH/IDR
        td 0%
        td 0.15%
      /tr
        td LTC/IDR
        td 0%
        td 0.15%

/.panel.panel-default
  .panel-heading
    h3 Libraries/Tools

  /.panel-body
    ul
      li: h4
        a href='http://github.com/peatio/peatio-client-ruby'
          | peatio-client-ruby (ruby)
