= content_for :page_title do
  title = @doc.title

= content_for :description do
  meta name='description' content= @doc.desc

= content_for :keywords do
  meta name='keywords' content= @doc.keywords

= content_for :frame do
  .container
    .jumbotron
      h2 = @doc.title
      small = @doc.desc
    .panel.panel-default
      .panel-body == @doc.body
