.panel.panel-default
  .panel-heading
    h3 Syarat Penggunaan
    p Persetujuan antar penyedia dan pengguna dalam menggunakan layanan kami.

  .panel-body
    p Persyaratan penggunaan ini ("Persyaratan" ini), sehubungan dengan penggunaan penukaran mata uang virtual, platform dan layanan lainnya yang disediakan oleh PT Bitnusa ("Perusahaan"), menetapkan hal-hal untuk dipatuhi oleh setiap Pengguna dan hak dan kewajiban antara Perusahaan dan setiap Pengguna.
      Pasal 1 Permohonan
      1.1 Tujuan dari Persyaratan ini adalah untuk menetapkan hak dan kewajiban antara Perusahaan dan setiap Pengguna sehubungan dengan penggunaan Layanan (didefinisikan dalam Pasal 2), dan Persyaratan ini berlaku untuk semua hal yang terkait dengan Pengguna yang menggunakan Layanan.
      1.2 Setiap Pengguna harus, setelah menyetujui Persyaratan ini, mendaftar untuk menggunakan Layanan dan menggunakan Layanan dengan metode yang ditentukan oleh Perusahaan
      Pasal 2 Definisi
      2.1 Istilah berikut yang digunakan dalam Persyaratan ini memiliki arti yang disebutkan di samping istilah ini:
      (1) Hak Kekayaan Intelektual berarti hak cipta, paten, hak utilitas, hak merek dagang, hak desain, atau hak kekayaan intelektual lainnya (termasuk hak untuk mendapatkan hak-hak tersebut atau mendaftar untuk mendaftar, dll., semua itu hak).
      (2) "Website" berarti situs yang dioperasikan oleh Perusahaan dengan domainnya "Bitnusa.com" (termasuk subdomain, jika domain atau isi dari situs web Perusahaan berubah karena alasan apapun, lalu berubah website).
      (3) "Pengguna" berarti individu atau perusahaan yang terdaftar sebagai pengguna Pelayanan.
      (4) "Digital Asset" berarti cryptocurrency atau uang virtual yang riwayat transaksinya tercatat di dalam suatu rantai yang tidak bisa diubah. Salah satu jenisnya adalah yang disebut Bitcoin (BTC) dan Ethereum (ETH), Bitcoin Cash (BCH).
      (5) "Layanan" berarti layanan berikut 
      layanan yang terkait dengan penjualan dan pembelian "Digital Asset" yang ditetapkan tersendiri oleh Perusahaan; 
      layanan yang menyediakan platform bagi Pengguna untuk menjual dan membeli Digital Asset; 
      layanan yang mengelola mata uang fiat ("Uang") yang secara terpisah ditetapkan oleh Perusahaan atau Mata Uang Virtual untuk Pengguna dalam kaitannya dengan penjualan dan pembelian di atas; 
      layanan lain yang relevan (jika namanya atau rincian salah satu layanan ini diubah karena alasan apapun)
      (6) "Dompet" berarti layanan tempat penyimpanan Digital Asset dimana Pengguna memberikan Perusahaan wewenang sepenuhnya untuk mengatur media penyimpanan tersebut.
      (7) "Akun Pengguna berarti akun trading dibuka dengan metode yang ditentukan oleh
      Perusahaan agar Perusahaan mengelola Digital Asset yang dimiliki oleh Pengguna dan Uang yang digunakan oleh Pengguna untuk berdagang menggunakan Layanan.
      (8) "Persetujuan Penggunaan" berarti perjanjian penggunaan untuk Layanan yang sesuai dengan ketentuan dalam Ketentuan ini dan yang terbentuk antara Perusahaan dan Pengguna di Indonesia.
      Pasal 2 Pendaftaran
      2.1 Setiap Pengguna Layanan, setelah menyetujui hal-hal berikut, bersedia untuk mendaftar dan menggunakan layanan kami:
      (1) Hanya satu akun yang diizinkan per orang.
      (2) Informasi yang terkandung di situs ini bukan merupakan akuntansi, hukum, keuangan, konsultasi investasi atau saran profesional lainnya. Pengguna menanggung semua risiko dari keputusan untuk menahan, membeli atau menjual Digital Asset di situs ini dan Bitnusa tidak akan bertanggung jawab atas kerugian yang diderita.
      (3) Pengguna setuju bahwa Pengguna tidak akan menggunakan produk dan layanan untuk memfasilitasi kegiatan terlarang sesuai Pasal 4.
      (4) Pengguna setuju bahwa Pengguna tidak akan menggunakan produk dan layanan untuk terlibat dalam kegiatan yang tercantum dalam daftar Kegiatan Terlarang.
      (5) Akun Pengguna dapat dihentikan jika Pengguna memberikan informasi palsu atau menolak memberikan informasi tentang identitas sejati Pengguna.
      (6) Pengguna setuju dan setuju untuk menerima komunikasi dari BitNusa melalui email dan SMS.
      (7) BitNusa dapat mengubah Ketentuan Penggunaan setiap saat dengan alasan apapun tanpa pemberitahuan.
      Pasal 3 Dompet BitNusa
      3.1 Jaringan Digital Asset masing-masing bertanggung jawab untuk mengkonfirmasikan transaksi masing-masing dan Bitnusa tidak bertanggung jawab atas kerugian karena, namun tidak terbatas pada, kesalahan dalam protokol, penundaan atau kerusakan lainnya yang terkait dengan jaringan digital asset.
      3.2 Pengguna mengetahui bahwa BitNusa tidak dapat mengkonfirmasi, membatalkan atau membalikkan transaksi Digital Asset.
      3.3  Pengguna secara tegas setuju bahwa BitNusa tidak bertanggung jawab atas kesalahan, kehilangan atau kelalaian karena mengirim Digital Asset ke atau menerima Digital Asset dari alamat dompet yang salah, alamat e-mail, memasukkan jumlah transaksi yang salah, atau informasi lainnya yang terkait dengan transaksi Digital Asset dengan menggunakan layanan ini. Pastikan Pengguna menggunakan alamat Digital Asset yang benar sesuai dengan masing-masing Digital Asset, alamat e-mail, jumlah transaksi saat bertransaksi.
      3.4  Pengguna mengetahui bahwa perkembangan Digital Asset pada saat ini masih dalam tahap awal. BitNusa tidak bertanggung jawab atas kehilangan akibat kelalaian aplikasi dompet yang disediakan oleh masing-masing Digital Asset, atau kelalaian yang mungkin dapat menyebabkan kerusakan pada sistem kami.
      3.5  Digital Asset disimpan dengan aman dalam kombinasi penyimpanan online dan offline. Akibatnya dibutuhkan waktu hingga 48 jam atau lebih untuk mempermudah transaksi Digital Asset. Dengan menggunakan BitNusa Pengguna menerima risiko bahwa transaksi mungkin tertunda dan Pengguna setuju untuk tidak menahan BitNusa bertanggung jawab atas kerusakan atau kerugian akibat penundaan.
      Pasal 4 Kegiatan Bursa Jual-Beli Digital Asset
      4.1 Pengguna harus berusia minimal 18 tahun untuk menggunakan perdagangan di bursa.
      4.2 Setiap informasi yang Pengguna berikan pasti benar, akurat dan benar.
      4.3 Pengguna mengetahui bahwa perdagangan Digital Asset melibatkan risiko besar dan dapat mengakibatkan kerugian finansial yang signifikan.
      4.4 Pembayaran masuk ke Bitnusa harus dilakukan dengan cara transfer bank. Rekening bank harus dibuka atas nama Pengguna sendiri.
      4.5 Pembayaran keluar ke Bitnusa harus dilakukan dengan cara transfer bank. Rekening bank harus dibuka atas nama Pengguna sendiri.
      4.6 Bitnusa tidak menjamin waktu pencairan transfer bank atau Digital Asset dan tidak akan bertanggung jawab atas penundaan.
      4.7 Pengguna harus memiliki Digital Asset dengan mendanai akun Pengguna sebelum melakukan trading.
      4.8 Perintah dagang yang ditempatkan pada situs tersebut bersifat mengikat dan tidak bisa dibatalkan atau dibalik.
      4.9 Bitnusa tidak berkewajiban untuk menerima pesanan, dalam hal ini situs tidak mengizinkan pesanan itu ditempatkan.
      4.10 Bitnusa dapat menunda akun Pengguna kapan saja dengan alasan apapun.
      4.11 Layanan ini disediakan tanpa jaminan apapun dan Bitnusa tidak menjamin bahwa situs tersebut akan tersedia 100% dari waktu. Pengguna mengetahui dan menerima bahwa situs web mungkin tidak tersedia dari waktu ke waktu karena berbagai keadaan dan bahwa Bitnusa tidak akan bertanggung jawab atas kerugian karena sistem atau layanan menjadi tidak tersedia.
      4.12 Bitnusa tidak bisa dan tidak menjamin nilai Digital Asset dan tidak berkewajiban untuk membeli kembali Digital Asset kapan saja.
      4.13 Merupakan tanggung jawab Pengguna untuk menentukan, memperhitungkan dan membayar pajak yang berlaku untuk transaksi perdagangan dan transaksi Digital Asset Pengguna.
      Pasal 5  Kegiatan Terlarang
      5.1 Pengguna menyatakan dan menjamin tidak akan menggunakan fasilitas Bitnusa dalam penjualan barang dan/jasa yang berhubungan dengan:
      (1) Narkotika, bahan dan/atau zat kimia untuk penelitian;
      (2) Uang dan apapun yang sejenis dengan uang, termasuk derivative;
      (3) Barang dan/atau jasa yang melanggar Hak Kekayaan Intelektual;
      (4) Amunisi, senjata api, bahan peledak, senjata tajam sesuai dengan Ketentuan Hukum yang berlaku;
      (5) Barang dan/atau jasa yang menunjukkan informasi pribadi dari Pihak Ketiga yang melanggar hukum yang berlaku;
      (6) Dukungan terhadap skema Ponzi dan program matriks;
      (7) Barang dan/atau jasa yang berhubungan dengan pembelian lotre, lay-away system;
      (8) Jasa yang terkait dengan perbankan yang berada di luar wilayah Republik Indonesia;
      (9) Pembayaran kartu kredit;
      (10) Penyelesaian kredit dan/atau penyelesaian hutang;
      (11) Dukungan terhadap organisasi terlarang atau dilarang oleh pemerintah.


