.jumbotron
  h2 Transaction ID

.panel.panel-default
  .panel-heading
    h3 Apa itu Transaction ID?

  .panel-body
    p Disebut juga Transaction Hash, setiap transaksi yang dibuat oleh di dalam jaringan digital asset, transaksi terbentuk berikut dengan ID dari transaksi tersebut. Dan setiap transaksi dan isinya (dari, ke, jumlah, ID) diumumkan kepada seluruh node di dalam jaringan digital asset dan dicatat ke dalam blok yang bersifat immutable.
    | Sehingga sebuah transaksi yang hilang atau tidak tercatat pasti dapat ditemukan dengan memindai setiap blok yang ada.

.panel.panel-default
  .panel-heading
    h3 Bagaimana cara mendapatkan Transaction ID untuk Digital Asset?

  .panel-body
    p Anda bisa mendapatkan Transaction ID dengan mencari histori transaksi dari alamat anda menggunakan blockchain explorer.
    h4 Langkah 1 : Dapatkan alamat digital asset anda.
    p Salin dari halaman penyetoran dana digital asset.
    img src='#{image_path 'txid_how_1.jpg'}' width=600

    h4 Langkah 2 : Cari alamat di dalam jasa blockchain explorer
    p Dalam contoh ini kita gunakan blockchain.info. Masukkan alamat anda pada kotak pencarian dan enter.
    img src='#{image_path 'txid_how_2.jpg'}' width=900

    h4 Langkah 3 : Cari dan cocokan transaksi penyetoran anda
    p Pada bagian transaksi, cocokan alamat, waktu, jumlah dari transaksi yang telah anda kirimkan. Dan salin Transaction ID (Transaction Hash) dari transaksi tersebut.
    img src='#{image_path 'txid_how_3.jpg'}' width=900

    h4 Langkah 4 : Masukkan Transaction ID 
    p Masukkan Transaction ID pada bagian <a href="/self_services"> Bantuan Swalayan</a>
    img src='#{image_path 'txid_how_4.jpg'}' width=900

.panel.panel-default
  .panel-heading
    h3 Apa saja website yang menyediakan jasa blockchain explorer?

  .panel-body
    table.table
        thead
        tr
            th Digital Asset
            th Blockchain Explorer
        tbody
        tr
            td Bitcoin (BTC)
            td <a href="https://blockchain.info">blockchain.info</a>
        tr
            td Bitcoin Cash (BCH)
            td <a href="https://blockdozer.com/insight/">blockdozer.com</a>
        tr
            td Ethereum (ETH)
            td <a href="https://etherscan.io">etherscan.io</a>
        tr
            td Ethereum Classic (ETC)
            td <a href="https://gastracker.io">gastracker.io</a>
        tr
            td Litecoin (LTC)
            td <a href="https://live.blockcypher.com/ltc/">live.blockcypher.com/ltc</a>
        tr
            td Zcash (ZEC)
            td <a href="https://explorer.zcha.in">explorer.zcha.in</a>

.panel.panel-default
  .panel-heading
    h3 Bagaimana cara mendapatkan Transaction ID untuk Rupiah?

  .panel-body
    p Untuk rupiah karena kami menggunakan payment gateway dan bukan blockchain, konsep Transaction ID adalah berbeda. Kode Identifikasi deposit anda merupakan Transaction ID anda yang kami daftarkan pada payment gateway. Berikut langkah untuk mendapatkannya.
    p Langkah 1 : Buka laman Dana dan pilih Setor Rupiah.
    p Langkah 2 : Lihat pada bagian Riwayat Setoran kolom Kode Identifikasi.
    p Langkah 3 : Masukkan Kode Identifikasi pada Transaction ID Bantuan Swalayan.