.jumbotron
  h2 Wallet Maintainance

.panel.panel-default
  .panel-heading
    h3 Apa itu wallet maintainance?

  .panel-body
    p Wallet maintainance merupakan salah satu implikasi dari beberapa hal yang mungkin terjadi
    ul
      li Ada fork pada blockchain. Untuk melindungi dana, kami menonaktifkan dompet sampai konsensus terbentuk pada rantai utama.
      li Dompet sedang diperbaharui dan sedang dalam proses mengimplementasi pembaharuan dompet.
      li Server dompet kami sedang sibuk atau crash.
      li Dompet mengirim transaksi kosong atau memiliki masalah yang sedang diselesaikan.

.panel.panel-default
  .panel-heading
    h3 Apa yang akan terjadi pada penyetoran saya?

  .panel-body
    p Deposit anda akan langsung masuk saat dompet berfungsi kembali. Apabila anda memiliki permasalahan silahkan ajukan tiket.

.panel.panel-default
  .panel-heading
    h3 Apa yang akan terjadi pada penarikan saya?

  .panel-body
    p Apabila penarikan anda telah diajukan atau disetujui, penarikan akan segera dilanjutkan ketika dompet berfungsi kembali.

.panel.panel-default
  .panel-heading
    h3 Apakah saya masih bisa trading?

  .panel-body
    p Ya, anda masih bisa trading secara normal dan aman.