p = t('.desc')

p
  .input-group
    .input-group-addon style='width: 200px;' Access Key
    .form-control.form-control-static style='text-align: center;' = @token.access_key
    .input-group-addon
      i.fa.fa-copy data-clipboard-text = @token.access_key
  .input-group
    .input-group-addon style='width: 200px;' Secret Key
    .form-control.form-control-static style='text-align: center;' = @token.secret_key
    .input-group-addon
      i.fa.fa-copy data-clipboard-text = @token.secret_key
  .input-group style='height: 300px;'
    .input-group-addon style='width: 200px; height: 300px;' QR Code (Mobile Access)
    .form-control.form-control-static style='text-align: center; width: 495px; height: 300px;' = qr_tag("#{@token.access_key}/#{@token.secret_key}")
    .input-group-addon
      i.fa.fa-copy data-clipboard-text = "#{@token.access_key}/#{@token.secret_key}"

  

p = link_to t('actions.back'), api_tokens_path, role: 'button', class: 'btn btn-primary btn-lg pull-right'
