.tabbable
  ul.nav.nav-tabs
    li.active: a.btc-proof href="#btc-proof" data-toggle="tab" == t('.verify-btc')
    li:        a.idr-proof href="#idr-proof" data-toggle="tab" == t('.verify-idr')

  .tab-content
    #btc-proof.tab-pane.active: .trade-wrapper
      .assets
        span.title = t('.btc-assets-total')
        span.currency
          == t("currency.icon.btc")
          = @btc_proof.sum
      = render 'liability_data', account: @btc_account, proof: @btc_proof

    #idr-proof.tab-pane:        .trade-wrapper
      .assets
        span.title = t('.idr-assets-total')
        span.currency
          == t("currency.icon.idr")
          = @idr_proof.sum
      = render 'liability_data', account: @idr_account, proof: @idr_proof
