.row
  .col-xs-12
    .panel.panel-primary
      .panel-heading
        span = t('.withdraw', sn: @bank.sn)
      .panel-body
        = description_for :withdraw do
          = item_for @bank, :id
          = item_for @bank, :created_at
          = item_for @bank, :aasm_state_text
          hr.split
          = item_for @bank.member, :name do
            span.fa.fa-copy data-clipboard-text='#{@bank.member.name}' = @bank.member.name
          = item_for @bank, :fund_extra do
            span.fa.fa-copy data-clipboard-text='#{bank_code_to_name @bank.fund_extra}' = bank_code_to_name @bank.fund_extra
          = item_for @bank, :fund_uid do
            span.fa.fa-copy data-clipboard-text='#{@bank.fund_uid}' = @bank.fund_uid
          = item_for @bank, :amount do
            span.fa.fa-copy data-clipboard-text='#{@bank.amount}' = @bank.amount
          hr.split
          hr.split
          = item_for @bank, :remark do
            span.fa.fa-copy data-clipboard-text='#{@bank.remark}' = @bank.remark
          - if  @bank.from_bank
            = item_for @bank, :from_bank do
              span.fa.fa-copy data-clipboard-text='#{@bank.from_bank}' = @bank.from_bank
          hr.split
          - if @bank.may_succeed?
            = form_for [:admin, @bank] do |f|
              dt = t('.from_bank')
              dd = f.collection_select :from_bank, @corp_banks,:name,:name, include_blank: true
              hr.split
              ul.list-inline.pull-right
                li
                  = f.submit t('.succeed'), class: 'btn btn-success', confirm: t('.succeed_confirm')
          - if @bank.may_process?
            ul.list-inline.pull-right
              li
                = link_to t('.process'), url_for([:admin, @bank]), class: 'btn btn-primary', method: 'PATCH'
          - if @bank.may_reject?
            ul.list-inline.pull-right
              li
                = link_to t('.reject'), url_for([:admin, @bank]), class: 'btn btn-danger', method: 'DELETE', confirm: t('.reject_confirm')

  .col-xs-12
    = render partial: 'shared/admin/member', locals: {member: @bank.member}
    = render partial: 'shared/admin/account', locals: {account: @bank.account}
