@import "bourbon";
@import 'vars/bootstrap';
@import 'bootstrap';
@import 'bootstrap-switch.min';
@import 'vars/basic';
@import 'vars/custom';
@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'layouts/basic';
table {
  table-layout: fixed;
  width: 200px;
}

th,
td {
  width: 100px;
}

header {
  .navbar-nav a {
    color: white !important;
  }
  .navbar-nav a:hover {
    color: #ddd !important;
  }
  .dropdown-menu a {
    color: black !important;
  }
  .dropdown-menu a:hover {
    color: black !important;
  }
  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }
  .navbar-brand {
    width: $brand-width;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
    margin-right: 10px
  }
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }
  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
  }
  .logo {
    width: 98px;
  }
}

.info {
  font-size: 0.85em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}