@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'bootstrap';

.fa-percent:before {
	content: "\f295";
}

.fa-question-circle-o:before {
	content: "\f29c";
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color:#f8f8f8;
}

h1,h2{
	font-family: 'Open Sans', sans-serif !important;
}

.numberCircle {
	border-radius: 50%;
	behavior: url(PIE.htc);
	
	width: 25px;
	box-sizing: initial;
	display:inline-block;
	height: 25px;
	padding: 8px;
	
	background: #fff;
	border: 1px solid #666;
	color: #666;
	text-align: center;
	
	font: 23px Arial, sans-serif;
	
}

@media (min-width: 1201px) {
	.vertical-align {
		
		/* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;
		
		display:flex;
		align-items:center;
		
		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		
		/* W3C */
		display:box;
		box-pack:center;
		box-align:center;
		
	}
}

@media (max-width: 1201px) {
	.vertical-align {
		
		/* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:left;
		-ms-flex-align:left;
		
		display:flex;
		align-items:center;
		
		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-pack:left;
		-webkit-box-align:center;
		
		/* W3C */
		display:box;
		box-pack:left;
		box-align:left;
	}
}

.rightborder {
	border-right: 1px solid #eee;
}


@media(max-width:1119px){		
	.vertical-align {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.rightborder {
		border-right: none !important;
	}
	
	.toppadding{
		padding-top:20px;
	}
	
}

@media (min-width: 1201px) {
	.vcenter {
		/* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;
		
		display:flex;
		align-items:center;
		
		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		
		/* W3C */
		display:box;
		box-pack:center;
		box-align:center;
	}
}



.text-up-flash
{
	-webkit-animation-name: flash-animation-up;
	-webkit-animation-duration: 0.8s;

	animation-name: flash-animation-up;
	animation-duration: 0.8s;
}

.text-down-flash
{
	-webkit-animation-name: flash-animation-down;
	-webkit-animation-duration: 0.8s;

	animation-name: flash-animation-down;
	animation-duration: 0.8s;
}

@-webkit-keyframes flash-animation-up {  
    from { background: rgb(50,210,150); }
    to   { background: default; }
}

@keyframes flash-animation-up {  
    from { background: rgb(50,210,150); }
    to   { background: default; }
}

@-webkit-keyframes flash-animation-down {  
    from { background: rgb(235,77,92); }
    to   { background: default; }
}

@keyframes flash-animation-down {  
    from { background: rgb(235,77,92); }
    to   { background: default; }
}

.test{
	height: 50px;
	padding: 15px 15px;
	line-height: 20px;
}

@media (min-width: 767px) {
	.total-transactions {
		text-align: center;
		font-size: 13px;
		background: rgba(0,0,0,0.5);

		color: #fff;
		border: 1px solid #fff;
		padding: 2px 16px;
		border-radius: 4px;
	}
}

@media (max-width: 767px) {
	.total-transactions {
		text-align: center;
		font-size: 13px;
		background: rgba(0,0,0,0.5);

		color: #fff;
		padding: 2px 16px;
	}
}

.bg-image {
	background-color: #061638;
	background: url('/img-decor-01.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	margin-top:-30px;
	min-height: 450px;
}


.navbar-collapse.collapse{
	display: block !important;
}



.navbar-nav.navbar-right:last-child{
	margin-right: -15px !important;
}

.navbar-right{
	float: right !important;
}


ul.navbar-nav{ white-space:nowrap;
}
.navbar-nav li{display:inline-block; float:none;}

.nav>li {
	display: inline-block;
}


@media (max-width: 767px) {
	.fix {
		margin-top:5px !important;
	}
	
	.footerdown,.vcenter2{
		text-align: center;
	}

}


@media (min-width : 768px) {
	.vcenter2{
		/* Internet Explorer 10 */
		display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;
		
		display:flex;
		align-items:center;
		
		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		
		/* W3C */
		display:box;
		box-pack:center;
		box-align:center;
		
	}
}



.navbar-btn {
	margin-bottom: 11px !important;
}

.navbar{
	border-radius:0px;
}

.btn{
	border-radius:3px;
}

.img-circle {
    border-radius: 50%;
}

.navtext{
	font-size:15px;
}

.bottomnav{
	margin-top:-21px;
}

.firstrow{
	margin-top:30px;
	color:#fff;
}

.firstrow-text{
	font-size:17px;
}

.smalltext{
	font-size:11px;
}

.buttonmulai{
	max-width:170px;
}

.img-md{
	max-height:100px;
}

.img-smd{
	height:45px;
	margin-top: 8px;
}



.img-sm{
	max-height:50px;
}

.img-commu{
	max-height:230px;
}

.footerstyle{
	background-color:#eee;
}

.nobullet{
	list-style:none;
	margin-left:-40px;
}

.mdtext{
	font-size:14px;
}

.xstext{
	font-size:9px;
}

.dropbtn a{
	font-size: 15px;
    color: #222222;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: #f8f8f8;
    color: #f8f8f8;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.navbar-brand img{
	margin-top: 2px;
	width: 120px;
}

@media (max-width: 767px) {
	.navbar-btn {
		font-size: 13px;
	}

	.navbar {
		font-size: 13px !important;
	}

	.navbar-brand img{
		margin-top: 4px;
		width: 90px;
	}
}

.btcidr-mobile{
	margin-top: 15px;
}

.col-sm-4.col-sm-4 {
	margin-top: 20px;
}

.img-screen {
	width: 750px;
}

.navbar-default {
    background-color: #061638;
    border-color: #061638;
}

.btc-inline {
	width: 25px;
}

h1 {
	text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 44px;
	max-width: 860px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
}

h2 {
	text-transform: uppercase;
	font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 23px;
	display: block;
	color: #3f3f3f;
}

.fa-5x {
	color: transparent;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #006ab0;
}

h3 {
	text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 14px;
	display: block;
	color: #444;
}

.navbar-nav{
	margin:0px !important;
	a {
		color: white !important;
	}

	a:hover {
		text-decoration: underline !important;
	}

	.btn {
		background: #061638;
	}

	.btn:hover {
		text-decoration: none !important;
	}

}

.navbar-btn.btn-info {
	border-width: 2px;
}

.intro-section {
	.btn {	
		border-width: 2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 600;
		width: 155px;
		background: rgba(91,192,222,0.9);
	}
	@media (min-width: 767px) {
		.signup:hover {
			background: rgba(0,178,210,0.9) !important;
			border-color: rgba(0,178,210,0.9) !important;
		}

		
		.signin {
			background: transparent;
		}
	}
}

.advantage-section {
	background: #eee;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-top: 10px;
	padding-bottom: 10px;

	.col-sm-4 {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.fa-5x {
		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: #f7931a;
	}

}

.start-section {
	background: #f8f8f8;
	padding: 15px;

}

.h3-normal {
	font-weight: normal;
}

.centerblock {
	display: table;
	margin: auto;
}

.community-section {
	background: url('/community-background.jpeg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white !important;
	padding-top:20px;
	padding-bottom:20px;
	 
	.btn {
		background: transparent;
		border-width: 2px;
	}

	h2 {
		color: white;
	}
}

.footerstyle {
	a {
		color: #444 !important;
	}
}

.img-sm {
	height: 40px;
}

@media (min-width: 767px) {
	h3.h3-dash:before,
	h3.h3-dash:after {
		background-color: #000;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}
	h3.h3-dash:before {
		right: 1em;
		margin-left: -50%;
	}
	h3.h3-dash:after {
		left: 1em;
		margin-right: -50%;
	}

	.start-divider-mobile{
		display: none;
	}
}

.fa-question-circle-o {
	font-size: 110px !important;
}

.text-up {
	color: rgb(50,210,150);
}

.text-down {
	color: rgb(235,77,92);
}

// global vars
$milestone-base-color: #cccccc;
$milestone-progress-color: #bbbbbb;
$label-base-color: #444;
$label-progress-color: #222;
$milestone-0-color: #218380;
$milestone-23-color:  #8f2d56;
$milestone-37-color: #73d2de;
$milestone-55-color: #ffbc42;
$milestone-82-color: #218380;
$milestone-100-color: #d81159;

.event-section h2 {
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif !important;
}

.app-section {
	background: #efefef;
}

.event-section {
	font-family: 'Open Sans', sans-serif;
	background: #efefef;
	
	padding: 40px;
	text-align: center;

	.fa-percent {
		color: white;
		width: 10px;
		font-size: 2em;
		margin-top: 11px;
		margin-left: -12px;

	}

	.fa-rocket {
		color: white;
		width: 10px;
		font-size: 2em;
		margin-top: 11px;
		margin-left: -17px;

	}

	.dottext {
		color: white;
		width: 10px;
		font-size: 1.3em;
		margin-top: 11px;
		margin-left: 6px;
		font-weight: bold;

	}

	.fa-3x {
		margin : 10px;
	}

	a {
		color:#333;
	}
}

.event-section {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	margin-left:50px;
	margin-right:50px;
}

/* On mouse-over, add a deeper shadow */
.event-section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

hr{
	margin-top:0px;
	margin-bottom:0px;
}

.why-section{
	background-color: #f8f8f8;
}

.terms {
	margin: 0;
	padding: 0;
	font-size:0.9rem;
	text-align: left;
}

@media (max-width: 767px) {
	.vefs-milestone-wrapper{
		display:none;
	}

	.advantage-section {
		.col-sm-4 {
			padding-bottom: 20px;
		}
	}

	.community-section {
		.btn{
			margin: 0 auto;
			width: 100%;
		}
	}

	.why-section{
		.col-sm-4 {
			text-align: center;
		}
		.col-sm-8 {
			padding-bottom: 10px;
			text-align: center;
		}
	}

	.terms {
		display:none;
	}

	.env-tag {
		margin-left: 15px;
	}

	.btcidr-desktop {
		font-size: 0em;
	}

}

@media (min-width: 767px) {
	.gift-stub-img {
		display:none;
	}

	.btcidr-mobile {
		font-size: 0em;
	}

}

@media(max-width:1119px)
{
	.desktop-digital-assets {
		display:none;
	}
}

@media(min-width:1119px)
{
	.mobile-digital-assets {
		display:none;
	}
}

.gift-stub-img {
	margin: auto;
}

.vefs-milestone-wrapper {
  $component-height: 50px;
  $line-height: $component-height / 10;
  $dot-size: $line-height * 10;

  .milestone-container {
    display: flex;
    flex-direction: column;
    position: relative;
	width: 80%;
	margin: auto;
    height: $component-height;

    .chart-container {
      display: flex;
      flex-flow: row;
      align-items: center;
      flex: 1 50%;

      .line-container {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: $dot-size;

        .line {
          align-self: center;
          position: absolute;
          top: $dot-size / 2;
          transform: translateY(-50%);
          order: 1;
          width: 100%;
          height: $line-height;
          background-color: $milestone-base-color;
          background-color: rgba($milestone-base-color, 0.5);

          &.left {
            order: 0;
            background-color: $milestone-progress-color;
          }
        }
      }

      .dot-container {
        position: absolute;
        height: $dot-size;
        width: 100%;

        .dot {
          position: absolute;
          width: $dot-size;
          height: $dot-size;
          border-radius: 50%;
          background-color: #f8f8f8;
          transform: translateX(-50%);
          transition: all 0.25s ease-out;

          &.completed {
            background-color: #fff;
          }
        }
      }

    }

    .label-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      flex: 1 50%;

      .label {
        position: relative;
        font-size: 1.3rem;
        font-weight: 600;
		color: $label-base-color;

        &.colored {
          color: $label-progress-color;
        }
      }
	}
    
    .milestones {
      position: absolute;
      transform: translate(-50%, 0);

      @mixin milestone( $mark, $color) {
        &__#{$mark} {
          left: #{$mark + '%'};

          .dot {
            &.colored {
              background-color: rgba($color, 1);
              transition: all 0.25s ease-out;
            }
          }
        }
      }

      &.milestone {
        // generate position and color of each milestone value
        @for $i from 0 to 101 {
		   @if $i <=0 {
			@include milestone($i, $milestone-0-color);
		  }
          @if $i > 0 and $i <= 23 {
            @include milestone($i, $milestone-23-color);
          }
          @if $i > 23 and $i <= 37 {
            @include milestone($i, $milestone-37-color);
          }
          @if $i > 37 and $i <= 55 {
            @include milestone($i, $milestone-55-color);
          }
          @if $i > 55 and $i <= 82 {
            @include milestone($i, $milestone-82-color);
          }
          @if $i > 82 and $i <= 100 {
            @include milestone($i, $milestone-100-color);
          }
        }
      }
    }
  }
}

