#ask_entry_market.panel.panel-default.entry-left
  .panel-body
    = form_for [market, order], :remote => true do |f|
      = f.hidden_field :ord_type
      .input-group.amount
        label.input-group-addon = t('.amount')
        = f.text_field :origin_volume, class: 'form-control'
        span.input-group-addon = t(market.ask['currency'], scope: 'market.currency')
      .input-group.total
        label.input-group-addon = t('.total')
        span.label.label-danger.hint-total-exception
        = f.text_field :total, class: 'form-control', :readonly => true
        span.input-group-addon = t(market.bid['currency'], scope: 'market.currency')
      = render partial: 'balance', locals: {currency: t(market.ask['currency'], scope: 'market.currency')}

      button.btn.btn-danger.btn-block type="submit" = t('.action', currency: t(market.ask['currency'], scope: 'market.currency'))
  = render partial: 'mask'
