#exchanges_marquee
  header.navbar.navbar-default.bottomnav
    .container
      marquee scrollamount="1" scrolldelay="20" truespeed="20"
        p.marquee-text direction="left" scrollamount="1" loop="1"
          span.exchanges