header.navbar.navbar-default.navbar-static-top role = "navigation"
  .container-fluid
    ul#menu.nav.navbar-nav.navbar-left
      a.navbar-brand href=root_path
        img src='#{image_path 'logo_font_white.svg'}' width='68px'
        | &nbsp;
      
      p.navbar-text
        span#market-name= @market.name
        span data-title="#{t('.vol')}"
          span.vol
        span data-title='#{t('.high')}'
          span.high
        span data-title='#{t('.low')}'
          span.low
        span data-title='#{t('.change')}'
          span.change

    ul.nav.navbar-nav.navbar-right
      - if current_user
        = render partial: 'account_summary'
        = render partial: 'settings'
      - else
        p.navbar-text
          == t('private.markets.mask.warning')
      = render partial: 'language'
