#order_entries_wrapper.has-left-dropdown
  .dropdown-wrapper
    ul.dropdown-menu
      li: a.limit.active href='#' = t(".limit_html")
      li: a.market href='#' = t(".market_html")
  = render partial: 'ask_entry_market', locals: {market: @market, order: @order_ask_market }
  = render partial: 'bid_entry_market', locals: {market: @market, order: @order_bid_market }
  = render partial: 'ask_entry', locals: {market: @market, order: @order_ask }
  = render partial: 'bid_entry', locals: {market: @market, order: @order_bid }        
