li#settings.dropdown
  a.dropdown-toggle href="#" data-toggle="dropdown"
    i.fa.fa-user
    span#email = current_user.email
  ul.dropdown-menu
    li: a
      input type="checkbox" name="sound-checkbox" data-size='mini' data-on-color='success'
    li: a
      input type="checkbox" name="notification-checkbox" data-size='mini' data-on-color='success'
    li: a href="http://community.#{ENV['URL_HOST']}" target='_blank'
      i.fa.fa-comments-o
      span = t('.community')
    li: a href=funds_path target='_blank'
      i.fa.fa-key
      span = t('.funds')
    li: a href=settings_path target='_blank'
      i.fa.fa-wrench
      span = t('.settings')
    li: a href=order_history_path target='_blank'
      i.fa.fa-history
      span = t('.history')
    li: a href=signout_path
      i.fa.fa-sign-out
      span = t('.signout')
