doctype html
html lang="en"
  head
    link href="/favicon.ico" rel="shortcut icon"
    = include_gon
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,500,700"
    = stylesheet_link_tag 'market', media: "all"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.1/pusher.min.js"
    = javascript_include_tag "market"
    = javascript_include_tag "locales/#{I18n.locale}"
    = render 'shared/html5'
    = render 'shared/meta'
    = csrf_meta_tags

  body id='#{body_id}' data-lang="#{locale_name}"
    audio preload='preload' id='success-fx'
      source src="/sounds/success.mp3"

    audio preload='preload' id='warning-fx'
      source src="/sounds/warning.mp3"

    = render partial: "private/markets/header"
    = render partial: "exchanges_marquee"
    #wrap
      .content
        = render partial: 'market_trades'
        = render partial: 'market_list'

        = render partial: 'candlestick'
        = render partial: 'range_switch'
        = render partial: 'indicator_switch'

        - if ENV['CHAT_FEATURE']
          #chat_tabs_wrapper.float
            ul.nav.nav-tabs.tabs-right.sideways
              li: a href='#chat_content' data-toggle='tab' = t('.chat')
            .tab-content
              #chat_content.tab-pane
                = render partial: 'chat'

        = render partial: 'order_book'
        = render partial: 'depths'
        = render partial: 'ticker'
        = render partial: 'order_entries'
        = render partial: 'my_orders'
