<table class="table table-currencies" ng-repeat="account in accounts" bind="accounts">
  <tr class="currency-item" ng-class="{selected: accountsCtrl.isSelected(account.currency),
    'deposit-now': accountsCtrl.isDeposit(),
    'withdraw-now': accountsCtrl.isWithdraw() }"
    data-currency="{{account.currency}}">

    <td class="currency-logo"><img ng-src="/icon-{{account.currency}}.svg" alt=""><span class="currency-symbol">{{ account.currency | uppercase }}</span></td>
    <td class="currency-balance-col">
      <p class="currency-balance" ng-if="!accountsCtrl.isFiat(account.currency)"><span class="currency-sign"></span>{{account.balance | round_down:5 }}</p>
      <p class="currency-balance" ng-if="accountsCtrl.isFiat(account.currency)"><span class="currency-sign"></span>{{account.balance | round_down:0 }}</p>
      <span class="currency-balance-locked" ng-if="!accountsCtrl.isFiat(account.currency)"><i class="fa fa-lock"></i> {{account.locked | round_down:5 }}</span>
      <span class="currency-balance-locked" ng-if="accountsCtrl.isFiat(account.currency)"><i class="fa fa-lock"></i> {{account.locked | round_down:0 }}</span>
      <span class="currency-wallet-maintainance" ng-if="accountsCtrl.isWalletMaintainance(account.currency)"><a href='/documents/wallet_maintainance'><p class="fa fa-wrench"> <u>Wallet Maintainance</u></p></a></span>
    </td>
    <td class="currency-actions">
      <p class="currency-deposit"><a href="#" ng-click="accountsCtrl.deposit(account); $event.preventDefault()" >{{ 'funds.deposit' | t }}</a></p>
      <p class="currency-withdraw"><a href="#" ng-click="accountsCtrl.withdraw(account); $event.preventDefault()" >{{ 'funds.withdraw' | t }}</a></p>
    </td>
  </tr>
</table>
