<h2 class="panel-title">{{"funds.deposit_idr.title" | t}} <i class="fa fa-bolt text-warning"></i></h2>
<div class="help-block">
  {{ "funds.deposit_idr.desc" | t }}
  <ul>
    <li>{{ "funds.deposit_idr.desc_item_1" | t }}</li>
    <li>{{ "funds.deposit_idr.desc_item_2" | t }} </li>
    <li>{{ "funds.deposit_idr.desc_item_3" | t }}</li>
  </ul>
  <span class="text-danger">{{ "funds.deposit_idr.attention" | t }}</span>
</div>

<form id="idr_deposit" name="deposit_form" class="form form-horizontal transfer-form" ng-controller="DepositsController as depositsCtrl" ng-submit="deposit_form.$valid && depositsCtrl.createDeposit(currency)" novalidate>

  <table class="table">
    <tr>
      <td rowspan="4" class="v-col">{{ "funds.deposit_idr.from" | t }}</td>
      <td><label class="optional control-label">{{ "funds.deposit_idr.deposit_name" | t }}</label><p class="form-control-static">{{name}}</p></td>
      <td rowspan="4" class="v-col">{{ "funds.deposit_idr.to" | t }}</td>
      <td><label class="optional control-label">{{ "funds.deposit_idr.to_name" | t }}</label><p class="form-control-static">{{depositsCtrl.deposit.to_bank.account_name}}</p></td> 
    </tr>

    <tr>
      <td>
        <label class="select required control-label" for="deposit_fund_source">{{"funds.deposit_idr.deposit_account" | t}} (<a href="javascript:void(0);" ng-click="openFundSourceManagerPanel()">{{ "funds.deposit_idr.manage" | t }}</a>)</label>
        <select id="fund_source" class="select required form-control" name="fund_source"
          ng-model="depositsCtrl.deposit.fund_source"
          ng-options="fs.id as fs.label for fs in fund_sources | filter:{currency:currency}"
          required>
        </select>
      </td>
      <td>
          <label class="optional control-label">{{ "funds.deposit_idr.to_bank_name" | t}}</label>
          <select class="select required form-control" name="to_bank"
            ng-model="depositsCtrl.deposit.to_bank"
            ng-options="bank as bank.name for bank in banks"
            ng-model-options="{ allowInvalid: true }"
            ng-init="depositsCtrl.deposit.to_bank = banks[0]"
            required>
          </select>
      </td> 
    </tr>
    <tr>
      <td><label class="optional control-label">{{ "funds.deposit_idr.amount" | t}}</label><input class="form-control" id="deposit_sum" name="deposit[sum]" placeholder="{{'funds.deposit_idr.min_amount' | t}}" type="number" min="50000" ng-model="depositsCtrl.deposit.amount" required></td>    
      <td><label class="optional control-label">{{"funds.deposit_idr.to_account" | t}}</label><p class="form-control-static">{{depositsCtrl.deposit.to_bank.account_number}}</p></td> 
    </tr>
    <tr class="last-row">
      <td/>
      <td><label class="optional control-label">{{ "funds.deposit_idr.opening_bank_name" | t }}</label><p class="form-control-static">{{depositsCtrl.deposit.to_bank.opening_bank_name}}</p></td> 
    </tr>
  </table>

  <div class="form-group">
    <div class="form-submit">
      <input class="btn btn-primary" data-loading-text="Creating..." name="commit" type="submit" value="{{'submit' | t}}">
    </div>
  </div>

</form>

<br>
<h2 class="panel-title">{{ "funds.deposit_history.title" | t }}</h2>
<table class="table" ng-controller="DepositHistoryController as dhCtrl">
  <tr>
    <th>{{ "funds.deposit_history.identification" | t }}</th>
    <th>{{ "funds.deposit_history.time" | t }}</th>
    <th>{{ "funds.deposit_history.from" | t }}</th>
    <th>{{ "funds.deposit_history.to_bank" | t }}</th>
    <th>{{ "funds.deposit_history.amount" | t }}</th>
    <th>{{ "funds.deposit_history.fee" | t }}</th>
    <th>{{ "funds.deposit_history.state_and_action" | t }}</th>
  </tr>
  <tr class="deposit_item" ng-class="{ 'new-row':dhCtrl.newRecord(deposit) }" ng-repeat="deposit in dhCtrl.deposits | orderBy:predicate">
    <td><span class="outlined-label">{{deposit.token}}</span></td>
    <td>{{deposit.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
    <td>{{deposit.fund_extra}} @ {{deposit.fund_uid}}</td>
    <td>{{deposit.to_bank}}</td>
    <td>{{deposit.amount}}</td>
    <td>{{deposit.total_fee}}</td>
    <td>{{"funds.deposit_history." + deposit.aasm_state | t}}
      <span ng-if="dhCtrl.canCancel(deposit.aasm_state)">/
        <a ng-click="dhCtrl.cancelDeposit(deposit); $event.preventDefault()" href="#" class="cancel_link">{{ "funds.deposit_history.cancel" | t }}</a>
      </span>
    </td>
  </tr>
  <tr ng-show="dhCtrl.canCancel(deposit.aasm_state)"><td colspan="6"><span class="help-block text-center">{{ "funds.deposit_history.no_data" | t }}</span></td></tr>
</table>

