<h2 class="panel-title">{{"funds.withdraw_ltc.title" | t}}</h2>
<p class="help-block">
  {{"funds.withdraw_coin.intro" | t}}
</p>

<ng-include src="'/templates/funds/_coin_withdraw.html'"></ng-include>