.panel.panel-info
  .panel-heading
    span = t('.member_info')
    = link_to 'View', url_for([:admin, member]), class: 'pull-right', target: '_blank'
  .panel-body
    = description_for :member do
      = item_for member, :name
      = item_for member, :email
      = item_for member, :phone_number do
        - if member.phone_number
          span = member.phone_number
        - else
          span = '-'
      = item_for member, :activated
      = item_for member, :created_at

      = item_for member, :actions do
        = link_to 'Activate Email', active_admin_member_path(member), method: :post, confirm: 'Activate ?', class: 'btn btn-danger btn-xs'

      hr.split

      = item_for t('.deactive_sms_two_factor') do
        - if member.sms_two_factor.activated?
          = link_to t('.deactive'), admin_member_two_factor_path(member, member.sms_two_factor), method: :delete, confirm: t('.are_you_sure'), class: 'btn btn-danger btn-xs'
        - else
          span = t('.inactive')

      = item_for t('.deactive_app_two_factor') do
        - if member.app_two_factor.activated?
          = link_to t('.deactive'), admin_member_two_factor_path(member, member.app_two_factor), method: :delete, confirm: t('.are_you_sure'), class: 'btn btn-danger btn-xs'
        - else
          span = t('.inactive')

      = item_for t('.deactive_id_document') do
        - if member.id_document.may_reject?
          = link_to t('.deactive'), admin_id_document_path(member.id_document, reject: 'true'), method: :patch, confirm: t('.are_you_sure'), class: 'btn btn-danger btn-xs'
        - else
          span = t('.inactive')

