<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%- stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : "application" %>

    <link href="/favicon.ico" rel="shortcut icon"></link>
    <%= include_gon %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,500,700" %>
    <%= stylesheet_link_tag stylesheet, media: "all" %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.1/pusher.min.js" %>
    <%= javascript_include_tag "funds" %>
    <%= yield(:scripts) if content_for?(:scripts) %>
    <%= render 'shared/html5' %>
    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <div id="wrap">
      <%- if content_for?(:header) %>
        <%= yield(:header) %>
      <%- else %>
        <%= render 'shared/header' %>
      <%- end %>

      <div class='container'>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <%- if content_for?(:footer) %>
      <%= yield(:footer) %>
    <%- else %>
      <%= render 'shared/footer' %>
    <%- end %>

  </body>
</html>

