doctype html
html lang="en" 
  head
    link rel="shortcut icon" href="/favicon.ico"
    = include_gon
    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    = render 'shared/html5'
    = render 'shared/meta'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
    = stylesheet_link_tag "welcome", :media => "all"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.1/pusher.min.js"
    = javascript_include_tag "welcome" 
    = csrf_meta_tags
  body id='#{body_id}' data-lang="#{locale_name}"
    #wrap
      = render 'shared/alert'
      = yield
      #push
